@use '@styles/settings.scss' as settings;

.wp-block-gallery {
  width: 100%;
  display: grid;
  // grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: settings.$responsive-max-mobile) {
    display: flex;
    flex-direction: column;
  }

  .wp-block-image {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: settings.$responsive-max-mobile) {
      //
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
