.tw-cols-card > .wp-block-column {
  padding: 30px 24px;
  box-sizing: border-box;
}
.tw-cols-card-color > .wp-block-column {
  background-color: hsla(0, 0%, 47%, 0.12);
}
.tw-cols-card-shadow > .wp-block-column {
  background-color: #fff;
  box-shadow: var(--tw-block-shadow);
}
.tw-cols-card-hard-shadow > .wp-block-column {
  background-color: #fff;
  box-shadow: var(--tw-block-hard-shadow);
}
.tw-cols-card-white > .wp-block-column {
  background-color: #fff;
}
:where(.tw-cols-card-shadow, .tw-cols-card-hard-shadow, .tw-cols-card-white) {
  color: #000;
}
.tw-cols-card-border > .wp-block-column {
  border: 1px solid var(--tw-block-border-color);
}
.tw-cols-card-gray > .wp-block-column {
  background-color: hsla(0, 0%, 47%, 0.12);
}
.wp-block-cover .tw-cols-card-gray > .wp-block-column {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.tw-stretched-media
  > .wp-block-column
  > :is(
    figure,
    .wp-block-embed,
    .wp-block-image,
    .wp-block-cover,
    .has-background
  ):first-child {
  margin: -30px -24px 30px !important;
  max-width: none;
  width: auto;
}
.wp-block-columns.tw-cols-card
  > .wp-block-column
  :is(.wp-block-group.has-background, .wp-block-cover) {
  padding: 24px;
}
.tw-cols-border-top > .wp-block-column {
  border-style: none;
  border-top: 1px solid;
  padding-top: 30px;
}
.tw-cols-rounded > .wp-block-column {
  border-radius: var(--tw-block-rounded);
  overflow: hidden;
}
.wp-block-columns.tw-gutter-no {
  gap: 0 !important;
}
.tw-row-gap-x-small {
  row-gap: 12px !important;
}
.tw-row-gap-small {
  row-gap: 24px !important;
}
.tw-row-gap-medium {
  row-gap: 32px !important;
}
.tw-row-gap-large {
  row-gap: 48px !important;
}
.tw-row-gap-x-large {
  row-gap: 60px !important;
}
@media (max-width: 1023px) {
  body .wp-block-columns.tw-large-gap.tw-cols-card {
    gap: 32px;
  }
}
.wp-block-columns.tw-gutter-no > .wp-block-column {
  margin: 0 !important;
}
.tw-cols-card
  :where(.wp-block-group__inner-container, .wp-block-cover__inner-container)
  > * {
  max-width: none !important;
}
.has-text-color:is(
    .tw-cols-card-shadow,
    .tw-cols-card-hard-shadow,
    .tw-cols-card-white
  )
  > .wp-block-column {
  color: currentColor;
}
.tw-cols-card
  > .wp-block-column
  > :where(figure, .wp-block-cover, .has-background):first-child {
  margin-top: -6px !important;
}
.tw-cols-card > .wp-block-column > *:last-child {
  margin-bottom: 0;
}
.wp-block-columns > .wp-block-column.wp-block-column:empty {
  margin-bottom: 0;
  background: none;
  padding-block: 0;
  border: 0;
  box-shadow: none;
}
.tw-cols-card-border.tw-gutter-no > .wp-block-column:empty {
  border: 1px solid transparent;
}
.tw-cols-card-border.tw-gutter-no > .wp-block-column {
  margin: -1px 0 0 -1px !important;
}
.tw-stretched-link:where(.tw-cols-card-shadow, .tw-cols-card-white)
  .wp-block-column {
  transition: box-shadow 0.2s;
}
.tw-cols-card-shadow.tw-stretched-link
  .wp-block-column:where(:hover, :focus-within) {
  box-shadow: var(--tw-block-shadow-lg);
  z-index: 1;
}
.tw-cols-card-white.tw-stretched-link
  .wp-block-column:where(:hover, :focus-within) {
  box-shadow: var(--tw-block-shadow);
  z-index: 1;
}
.tw-cols-card-border.tw-stretched-link .wp-block-column {
  transition: border-color 0.2s;
}
.tw-cols-card-border.tw-stretched-link
  .wp-block-column:where(:hover, :focus-within) {
  border-color: currentcolor;
  z-index: 5;
}
.tw-cols-card-gray.tw-stretched-link .wp-block-column {
  transition: background-color 0.2s;
}
.tw-cols-card-gray.tw-stretched-link
  .wp-block-column:where(:hover, :focus-within) {
  background-color: hsla(0, 0%, 47%, 0.16);
}
.wp-block-cover
  .tw-cols-card-gray.tw-stretched-link
  .wp-block-column:where(:hover, :focus-within) {
  background-color: hsla(0, 0%, 100%, 0.14);
}
.wp-block-columns.tw-cols-stack-none {
  flex-wrap: nowrap;
}
@media (max-width: 1023px) {
  .wp-block-columns.tw-cols-stack-md {
    flex-wrap: wrap !important;
  }
  .wp-block-columns.tw-cols-stack-md.tw-cols-stack-md > .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 1200px) {
  .wp-block-columns.tw-gutter-large {
    column-gap: 60px !important;
  }
}
@media (max-width: 599px) {
  .wp-block-columns:is(.is-not-stacked-on-mobile, .tw-cols-stack-none) {
    column-gap: 20px;
  }
}
@media (max-width: 781px) {
  .wp-block-columns.tw-cols-stack-none > div.wp-block-column {
    margin-bottom: 0;
  }
  .wp-block-columns.tw-cols-stack-none > .wp-block-column:not([style]) {
    flex-basis: 0 !important;
    flex-grow: 1;
  }
  .wp-block-columns.tw-cols-stack-none > .wp-block-column[style] {
    flex-basis: var(--col-width) !important;
    flex-grow: 0 !important;
  }
  .wp-block-columns.tw-cols-stack-sm-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns.tw-cols-stack-sm {
    flex-wrap: nowrap !important;
  }
  .wp-block-columns.wp-block-columns:is(
      .is-not-stacked-on-mobile,
      .tw-cols-stack-none,
      .tw-cols-stack-sm
    ) {
    column-gap: 24px;
  }
  .wp-block-columns.tw-cols-stack-sm > .wp-block-column:not([style]) {
    flex-basis: 0 !important;
    flex-grow: 1;
  }
  .wp-block-columns.tw-cols-stack-sm > .wp-block-column[style] {
    flex-basis: var(--col-width) !important;
    flex-grow: 0;
  }
  .tw-gutter-no:not(.is-not-stacked-on-mobile):not([class*='tw-cols-stack'])
    > .wp-block-column {
    flex-basis: 50% !important;
  }
}
/*
.wp-block-gallery {
  --wp--style--gallery-gap-default: var(
    --gallery-block--gutter-size,
    var(--wp--style--block-gap, 16px)
  );
}
.wp-block-gallery:not(.has-nested-images) {
  margin-inline: auto;
}
.blocks-gallery-grid,
.wp-block-gallery.has-nested-images {
  --wp--style--unstable-gallery-gap: var(--wp--style--gallery-gap-default);
  gap: var(--wp--style--unstable-gallery-gap);
}
.blocks-gallery-grid .blocks-gallery-item {
  margin-inline: 0 !important;
  margin-bottom: 0 !important;
  width: calc(50% - var(--wp--style--unstable-gallery-gap) / 2);
}
.wp-block-gallery.columns-1 .blocks-gallery-item {
  width: 100%;
}
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  padding: 40px 12px 12px;
}
.wp-block-gallery.columns-1:not(.is-cropped) .blocks-gallery-item {
  align-items: center;
}
.wp-block-gallery.tw-img-border.tw-gutter-no
  :is(.blocks-gallery-item, .wp-block-image) {
  margin: -1px 0 0 -1px !important;
}
.tw-img-border-inner .blocks-gallery-grid,
.wp-block-gallery.tw-gutter-no {
  --wp--style--gallery-gap-default: 0px;
}
.wp-block-gallery.columns-1:where(.tw-gutter-medium, .tw-gutter-large) {
  --wp--style--gallery-gap-default: 32px;
} */
/* @media (max-width: 599px) {
  .wp-block-gallery:not(.has-nested-images):not(.columns-1)
    .blocks-gallery-grid
    .blocks-gallery-item {
    width: calc(50% - var(--wp--style--unstable-gallery-gap) * 0.5);
  }
  .wp-block-gallery.has-nested-images.tw-cols-large figure.wp-block-image,
  .wp-block-gallery.tw-stack-sm :where(.blocks-gallery-item, .wp-block-image) {
    width: 100% !important;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .wp-block-gallery.tw-gutter-large.columns-1 {
    --wp--style--gallery-gap-default: 60px;
  }
  .wp-block-gallery.columns-3:not(.has-nested-images) .blocks-gallery-item,
  .wp-block-gallery.columns-default:not(.has-nested-images)
    .blocks-gallery-item {
    width: calc(33.33333% - var(--wp--style--unstable-gallery-gap) * 0.66667);
  }
  .wp-block-gallery.columns-4:not(.has-nested-images) .blocks-gallery-item {
    width: calc(25% - var(--wp--style--unstable-gallery-gap) * 0.75);
  }
  .wp-block-gallery.columns-5:not(.has-nested-images) .blocks-gallery-item {
    width: calc(20% - var(--wp--style--unstable-gallery-gap) * 0.8);
  }
  .wp-block-gallery.columns-6:not(.has-nested-images) .blocks-gallery-item {
    width: calc(16.66667% - var(--wp--style--unstable-gallery-gap) * 0.83333);
  }
  .wp-block-gallery.columns-7:not(.has-nested-images) .blocks-gallery-item {
    width: calc(14.28571% - var(--wp--style--unstable-gallery-gap) * 0.85714);
  }
  .wp-block-gallery.columns-8:not(.has-nested-images) .blocks-gallery-item {
    width: calc(12.5% - var(--wp--style--unstable-gallery-gap) * 0.875);
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .wp-block-gallery.has-nested-images.tw-cols-small:is(
      .columns-3,
      .columns-default
    )
    figure.wp-block-image:not(#individual-image),
  .wp-block-gallery.has-nested-images:is(.tw-cols-large, .tw-stack-sm):not(
      .columns-1
    )
    figure.wp-block-image:not(#individual-image),
  .wp-block-gallery.tw-stack-sm:not(.columns-1)
    .blocks-gallery-grid
    .blocks-gallery-item {
    width: calc(50% - var(--wp--style--unstable-gallery-gap) / 2);
  }
  .wp-block-gallery:is(.tw-stack-sm, .tw-cols-large):is(
      .tw-gutter-medium,
      .tw-gutter-large
    ):not(.columns-1) {
    --wp--style--gallery-gap-default: 20px;
  }
  .wp-block-gallery.has-nested-images.tw-cols-small:is(
      .columns-4,
      .columns-5,
      .columns-6,
      .columns-7,
      .columns-8
    )
    figure.wp-block-image:not(#individual-image) {
    width: calc(
      33.333% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667
    );
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .wp-block-gallery.has-nested-images.tw-cols-large:is(
      .columns-3,
      .columns-default
    )
    figure.wp-block-image:not(#individual-image) {
    width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) / 2);
  }
  .wp-block-gallery.has-nested-images.tw-cols-large.columns-4
    figure.wp-block-image:not(#individual-image) {
    width: calc(
      33.333% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667
    );
  }
  .wp-block-gallery.has-nested-images:is(.tw-cols-large, .tw-cols-small):is(
      .columns-5,
      .columns-6,
      .columns-7,
      .columns-8
    )
    figure.wp-block-image:not(#individual-image) {
    width: calc(25% - var(--wp--style--unstable-gallery-gap, 16px) * 0.75);
  }
} */
/* @media (min-width: 1024px) {
  .wp-block-gallery:is(.tw-gutter-medium, .tw-gutter-large) {
    --wp--style--gallery-gap-default: 32px;
  }
}
@media (min-width: 1200px) {
  .wp-block-gallery.tw-gutter-large {
    --wp--style--gallery-gap-default: 60px;
  }
} */
.wp-block-group[class*='tw-bottom-shape'],
.wp-block-group[class*='tw-top-shape'] {
  position: relative;
}
[class*='tw-bottom-shape']::after,
[class*='tw-top-shape']::before {
  content: '';
  position: absolute;
  width: 100%;
  height: var(--group-shape-height, 20px);
  left: 0;
  bottom: var(--group-shape-y, -14px);
  background-color: inherit;
  -webkit-mask: var(--group-shape) center repeat no-repeat;
  mask: var(--group-shape) center repeat no-repeat;
  z-index: 2;
  pointer-events: auto;
}
[class*='tw-top-shape']::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: auto;
  top: var(--group-shape-y, -14px);
}
.tw-bottom-shape-organic::after,
.tw-top-shape-organic::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 20"><path d="M768 0H0v12c25.5-.6 50 .6 75.5 1.4 19.2.7 25.4 2.2 37.5 3.5 12.7 1.4 25.4 2.2 38.1 2.8 12.3.7 24.6 0 37 0s25-1 37.4-1.4c24.9-.6 49.8-1.8 74.5-4.9 24.8-3 59-6.6 84-6.6 12.6 0 17.4 0 30 .9 12.8 1 24.5 1 37.3 2 11 1 13.6 1.1 19.4 1.5 6 .3 10.1.3 16.2.7 12.6 1 25.2.9 37.9 1.4 25 1 37.3-1.3 62.4.9 14 1.2 45.7 4.3 59.8 4.4 13.2 0 24.4-1 37.6-1 14.6-.3 26.4-.4 41-2.2 14.1-1.7 28.1-3 42.4-3.4z"/></svg>');
}
.tw-bottom-shape-grunge::after,
.tw-top-shape-grunge::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 20"><path d="M160 0H0v17.8a15.3 15.3 0 0 1 5 2s9.1-1 11.8-.8c3.5.2 11.1-1.1 11.1-1.1s3.9.7 4.2.6c6.2-1.6 19.1 1.2 19.1 1.2l3.8-1.6c8 .8 9.5-1.3 21 .8 2.3-.6 8.2-2.1 11-2.3 2 0 3.5 1.4 5.4 1.8 1.6.3 4.1-.7 5.7-.5 3.5.4 8.1 1.2 12 0a18.6 18.6 0 0 1 10.5-.3 24.9 24.9 0 0 0 9.3 0l7.6 2.4s6.6-2 10-1.5c7.7 1 8.2.5 10.6-.6 1.5.4 1.2 0 1.9-.1z"/></svg>');
  --group-shape-y: -4px;
}
.tw-bottom-shape-wave::after,
.tw-top-shape-wave::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 20"><path d="M102 20c-13.7 0-20.6-3.8-27.3-7.5C68.6 9.2 62.8 6 51 6s-17.6 3.2-23.7 6.5C20.6 16.2 13.7 20 0 20V0h102z"/></svg>');
}
.tw-bottom-shape-triangle::after,
.tw-top-shape-triangle::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 20"><path d="M48 6 24 20 0 6V0h48v6z"/></svg>');
}
.tw-bottom-shape-arc::after,
.tw-top-shape-arc::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 20"><circle cx="24" cy="-14" r="34"/></svg>');
  --group-shape-y: -10px;
}
.tw-bottom-shape-rectangle::after,
.tw-top-shape-rectangle::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 20"><path d="M0 0v14h8v6h16v-6h8V0H0z"/></svg>');
  --group-shape-y: -6px;
}
.tw-bottom-shape-ornament::after,
.tw-top-shape-ornament::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 20"><path d="M160 20c-4.2-4.5-13.6-7-19.3-7-14.7 0-28.3 7-41.5 7-7.6 0-14.6-2-19.2-7-4.6 5-11.6 7-19.2 7-13.2 0-26.8-7-41.5-7-5.7 0-15.1 2.5-19.3 7V0h160v20z"/></svg>');
  --group-shape-y: -7px;
}
.tw-bottom-shape-halftone::after,
.tw-top-shape-halftone::before {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 20"><circle cx="2.5" cy="4.5" r="2.5"/><circle cx="2.5" cy="-.19" r="2.81"/><circle cx="2.5" cy="14.38" r="1.38"/><circle cx="2.5" cy="19.25" r=".75"/><circle cx="2.5" cy="9.5" r="2"/></svg>');
  --group-shape-y: -19px;
}
.wp-block-group.tw-height-full {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-block-group.tw-height-full .wp-block-group__inner-container {
  width: 100%;
}
.wp-block-group.tw-group-overlap-bottom + .wp-block-group,
.wp-block-group.tw-group-overlap-bottom
  + .wp-block-group
  > .wp-block-group__inner-container {
  margin-top: 0;
}
.tw-group-overlap-bottom
  + .wp-block-group
  > .wp-block-group__inner-container
  > :first-child {
  margin-top: 60px;
}
.wp-block-media-text.tw-content-narrow .wp-block-media-text__content > * {
  max-width: 580px;
  margin-inline: auto;
}
.wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
  min-height: auto;
}
.wp-block-media-text.is-image-fill figure.wp-block-media-text__media img {
  position: relative;
  width: 100%;
  height: auto;
  visibility: hidden;
  margin: 0;
}
@media (max-width: 651px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media,
  .wp-block-media-text.is-stacked-on-mobile.tw-media-bottom
    .wp-block-media-text__content,
  .wp-block-media-text.is-stacked-on-mobile:not(
      .has-media-on-the-right
    ).tw-stack-reverse
    .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content,
  .wp-block-media-text.is-stacked-on-mobile.tw-media-bottom
    .wp-block-media-text__media,
  .wp-block-media-text.is-stacked-on-mobile:not(
      .has-media-on-the-right
    ).tw-stack-reverse
    .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 2;
  }
  .wp-block-media-text.is-stacked-on-mobile.tw-media-narrow
    .wp-block-media-text__media
    img {
    max-width: 360px;
    margin: 0 auto;
  }
  .wp-block-media-text.tw-height-full.is-stacked-on-mobile {
    min-height: auto;
  }
  .tw-height-full.is-stacked-on-mobile.is-image-fill
    .wp-block-media-text__media
    img {
    max-height: none;
  }
  .wp-block-media-text.is-stacked-on-mobile.is-style-tw-overlap
    .wp-block-media-text__content,
  .wp-block-media-text.is-stacked-on-mobile.is-style-tw-overlap.has-media-on-the-right
    .wp-block-media-text__content {
    margin: 0;
  }
  .wp-block-media-text.is-stacked-on-mobile .is-style-tw-overlap {
    visibility: visible;
  }
}
@media (max-width: 1023px) {
  .wp-block-media-text.tw-stack-md:not(.has-media-on-the-right).tw-stack-reverse
    .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.tw-stack-md:not(.has-media-on-the-right).tw-stack-reverse
    .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 2;
  }
}
:where(.wp-block-post-template.is-layout-flow):not(.is-flex-container) > * + * {
  margin-block-start: var(--tw-gap-y, var(--wp--style--block-gap, 1.25em));
}
@media (max-width: 767px) {
  ul.wp-block-post-template.is-layout-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  ul.wp-block-post-template.is-layout-grid:not(.columns-1) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.wp-block-post-template.is-flex-container {
  display: grid;
  gap: var(--tw-gap-y, var(--wp--style--block-gap, 1.25em))
    var(--tw-gap-x, var(--wp--style--block-gap, 1.25em));
}
.wp-block-post-template.is-flex-container li {
  width: 100% !important;
}
@media (min-width: 768px) {
  .wp-block-post-template.is-flex-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .wp-block-post-template.columns-3.is-flex-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .wp-block-post-template.columns-4.is-flex-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .wp-block-post-template.columns-5.is-flex-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .wp-block-post-template.columns-6.is-flex-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
:root {
  --tw-block-rounded: 16px;
  --tw-block-rounded-sm: 0.5rem;
  --tw-block-border-color: color-mix(in srgb, currentColor 20%, transparent);
  --tw-block-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.12);
  --tw-block-shadow-lg: 0 16px 26px 0 rgba(0, 0, 0, 0.14);
  --tw-block-hard-shadow: 0 0 0 2px #000, 6px 6px 0 2px #000;
}
.wp-block-group.tw-group-overlap-bottom {
  padding-bottom: 0.01em !important;
}
.wp-block-group.tw-group-overlap-bottom > :last-child {
  margin-bottom: -60px;
  position: relative;
  z-index: 3;
}
.wp-block-group.tw-group-overlap-bottom + .wp-block-group > :first-child {
  margin-top: 60px;
}
.wp-block-group.tw-group-overlap-bottom + *:not(.wp-block-group) {
  margin-top: 120px;
}
.tw-layout-inline p,
.tw-layout-inline > * {
  display: inline !important;
}
.tw-overflow-hidden,
.wp-block-group[style*='radius']:has(img) {
  overflow: hidden;
}
.tw-shadow {
  box-shadow: var(--tw-block-shadow);
}
.tw-shadow.alignfull {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.09);
  z-index: 1;
}
.tw-hard-shadow {
  box-shadow: var(--tw-block-hard-shadow);
}
.tw-border {
  border: 1px solid var(--tw-block-border-color);
}
.tw-border.alignfull {
  border-inline: 0;
  border-bottom: 0;
}
:where(.tw-hover-border) {
  border: 1px solid transparent;
  transition: border-color 0.2s;
}
.tw-hover-border:is(:hover, :focus-within) {
  border-color: currentcolor !important;
}
.tw-img-ratio-20-9 {
  --tw-img-ratio: 20/9;
}
.tw-img-ratio-3-2 {
  --tw-img-ratio: 3/2;
}
.tw-img-ratio-16-9 {
  --tw-img-ratio: 16/9;
}
.tw-img-ratio-4-3 {
  --tw-img-ratio: 4/3;
}
.tw-img-ratio-1-1 {
  --tw-img-ratio: 1/1;
}
.tw-img-ratio-3-4 {
  --tw-img-ratio: 3/4;
}
.tw-img-ratio-2-3 {
  --tw-img-ratio: 2/3;
}
.tw-img-ratio-9-16 {
  --tw-img-ratio: 9/16;
}
.tw-img-rounded img {
  border-radius: var(--tw-block-rounded);
}
.tw-img-bw img {
  filter: grayscale(100%);
}
.tw-img-sepia img {
  filter: sepia(50%);
}
.is-style-tw-frame figure,
.wp-block-post-featured-image.is-style-tw-frame img,
figure:where(
    .wp-block-image,
    .wp-block-embed,
    .wp-block-video
  ).is-style-tw-frame {
  display: block;
  background-color: #fff;
  padding: 12px;
  box-shadow: var(--tw-block-shadow);
  box-sizing: border-box;
}
.is-style-tw-frame:is(.wp-block-image, .wp-block-embed, .wp-block-video)
  figcaption {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 10px;
  color: #555;
}
figure iframe {
  max-width: 100%;
}
.has-text-color :where(.wp-block-image, .wp-block-embed) figcaption {
  color: currentcolor;
}
.tw-link-hover-underline.tw-link-hover-underline a,
a.tw-link-hover-underline {
  text-decoration-line: none;
}
.tw-link-hover-underline a:is(:hover, :focus),
a.tw-link-hover-underline:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.tw-link-no-underline a,
a.tw-link-no-underline {
  text-decoration: none !important;
}
.tw-link-hover-fade a:hover,
a.tw-link-hover-fade:hover {
  opacity: 0.7;
}
.tw-text-shadow {
  text-shadow: 0.09375em 0 0.1875em rgba(0, 0, 0, 0.25);
}
.tw-text-gradient.has-background {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
.tw-text-gradient a {
  display: inline;
}
.tw-highlight-padding mark {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 0 0.2em;
}
.tw-heading-border-bottom,
.tw-heading-dash-bottom {
  position: relative;
}
.tw-heading-border-bottom::after,
.tw-heading-dash-bottom::after {
  content: '';
  display: block;
  height: 1px;
  background-color: currentcolor;
  opacity: 0.15;
  margin: 20px 0 0;
}
.tw-heading-dash-bottom::after {
  width: 40px;
  height: 2px;
  opacity: 1;
}
.tw-heading-dash-bottom.has-text-align-left::after {
  margin: 20px auto 0 0;
}
.tw-heading-dash-bottom.has-text-align-center::after {
  margin: 20px auto 0;
}
.tw-heading-dash-bottom.has-text-align-right::after {
  margin: 20px 0 0 auto;
}
body .tw-ml-0.tw-ml-0 {
  margin-left: 0 !important;
}
body .tw-mr-0.tw-mr-0 {
  margin-right: 0 !important;
}
body .tw-ml-auto {
  margin-left: auto !important;
}
body .tw-mr-auto {
  margin-right: auto !important;
}
.tw-backdrop-blur {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}
.tw-rounded {
  border-radius: var(--tw-block-rounded);
  overflow: hidden;
}
.tw-height-100 {
  height: 100% !important;
}
.tw-width-100 {
  width: 100% !important;
}
.tw-justify-center {
  justify-content: center;
}
.tw-align-baseline {
  align-items: baseline !important;
}
.tw-flex-grow {
  flex-grow: 1;
}
.tw-flex-1 {
  flex: 1 1 0%;
}
.tw-whitespace-nowrap {
  white-space: nowrap !important;
}
.tw-empty-hidden:empty {
  display: none !important;
}
.tw-z-index-high {
  position: relative;
  z-index: 101000;
}
.tw-stretched-link:where(
    .wp-block-group,
    .wp-block-column,
    .wp-block-media-text,
    .wp-block-post-navigation-link
  ),
.wp-block-columns.tw-stretched-link > .wp-block-column,
.wp-block-latest-posts.tw-stretched-link > li {
  position: relative;
}
.tw-stretched-link:where(
    .wp-block-group,
    .wp-block-column,
    .wp-block-media-text,
    .wp-block-cover,
    .wp-block-post-navigation-link
  )
  :where(a, button)::after,
.wp-block-columns.tw-stretched-link > .wp-block-column a:first-of-type::after,
.wp-block-latest-posts.tw-stretched-link > li > a::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: auto;
  background-color: transparent;
}
.tw-no-bullet:is(ul, ol) {
  list-style: none;
  padding-inline-start: 0;
}
.wp-block-button__link.has-white-background-color {
  color: #000;
}
.tw-form-rounded
  input:not([type='checkbox']):not([type='range']):not([type='submit']),
.tw-form-rounded textarea {
  border-radius: var(--tw-block-rounded-sm);
}
@media (max-width: 1023px) {
  .tw-md-text-left {
    text-align: left !important;
  }
  .tw-md-text-center {
    text-align: center !important;
  }
  .tw-md-text-right {
    text-align: right !important;
  }
  .tw-md-justify-start {
    justify-content: flex-start !important;
  }
  .tw-md-justify-center {
    justify-content: center !important;
  }
  .tw-md-justify-end {
    justify-content: flex-end !important;
  }
  .tw-md-order-first {
    order: -1;
  }
  .tw-md-order-last {
    order: 99;
  }
  .tw-md-width-100 {
    width: 100% !important;
  }
}
.tw-block-animation {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: var(--tw-animation-delay, 0);
}
.tw-block-animation.tw-duration-1 {
  animation-duration: 0.4s;
}
.tw-block-animation.tw-duration-2 {
  animation-duration: 0.6s;
}
.tw-block-animation.tw-duration-4 {
  animation-duration: 1s;
}
.tw-block-animation.tw-duration-5 {
  animation-duration: 1.2s;
}
.tw-animation-fade-in.animated {
  animation-name: fadeIn;
}
.tw-animation-fade-in-up.animated {
  animation-name: fadeInUp;
}
.tw-animation-scale-in.animated {
  animation-name: zoomIn;
}
.tw-animation-wipe-right.animated {
  animation-name: wipeRight;
  animation-timing-function: ease;
}
.tw-animation-wipe-left.animated {
  animation-name: wipeLeft;
  animation-timing-function: ease;
}
.tw-animation-wipe-top.animated {
  animation-name: wipeTop;
  animation-timing-function: ease;
}
.tw-animation-wipe-bottom.animated {
  animation-name: wipeBottom;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wipeRight {
  from {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 0%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
}
@keyframes wipeLeft {
  from {
    opacity: 1;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }
  to {
    opacity: 1;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
@keyframes wipeTop {
  from {
    opacity: 1;
    clip-path: polygon(0 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes wipeBottom {
  from {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}
@media (prefers-reduced-motion: reduce) {
  .tw-block-animation {
    opacity: 1;
    transform: none;
    clip-path: none;
    animation: none !important;
  }
}
.wp-lightbox-overlay .tw-block-animation {
  opacity: 1;
  transform: none;
  clip-path: none;
  animation: none;
}
@media (max-width: 651px) {
  .tw-sm-text-left {
    text-align: left !important;
  }
  .tw-sm-text-center {
    text-align: center !important;
  }
  .tw-sm-text-right {
    text-align: right !important;
  }
  .tw-sm-justify-start {
    justify-content: flex-start !important;
  }
  .tw-sm-justify-center {
    justify-content: center !important;
  }
  .tw-sm-justify-end {
    justify-content: flex-end !important;
  }
  .tw-sm-order-first {
    order: -1;
  }
  .tw-sm-order-last {
    order: 99;
  }
  .tw-sm-width-100 {
    width: 100% !important;
  }
}
.tw-color-dark:not(.is-style-logos-only) .wp-social-link {
  background-color: #000;
}
.tw-color-light:not(.is-style-logos-only) .wp-social-link {
  background-color: #fff;
  color: #000;
}
.tw-color-dark.is-style-logos-only .wp-social-link {
  color: #000;
}
.tw-color-light.is-style-logos-only .wp-social-link {
  color: #fff;
}
.wp-block-social-links.tw-size-small {
  font-size: 19.2px;
}
.wp-block-social-links.tw-size-large {
  font-size: 32px;
}
.tw-btn-full .wp-block-button {
  display: block;
  width: 100%;
  margin-inline: 0;
}
.tw-btn-full .wp-block-button .wp-block-button__link {
  display: block;
}
.tw-btn-full .wp-block-button + .wp-block-button {
  margin-top: 15px;
}
.wp-block-button:not(.is-style-outline)
  .has-white-background-color:not(.has-text-color) {
  color: #000;
}
.wp-block-buttons.is-vertical .wp-block-button + .wp-block-button {
  margin-top: 5px;
}
.wp-block-separator.is-style-tw-short {
  height: 3px;
  max-width: 60px !important;
  background-color: currentcolor !important;
}
.wp-block-pullquote:where(.has-background) {
  border: none;
}
.wp-block-pullquote.is-style-plain blockquote::before {
  display: none !important;
}
.wp-block-navigation.tw-gap-small {
  gap: 12px;
}
.wp-block-navigation.tw-gap-medium {
  gap: 36px;
}
.wp-block-navigation.tw-gap-large {
  gap: 48px;
}
.wp-block-cover.tw-fullscreen {
  min-height: 100vh !important;
}
.wp-block-column .wp-block-cover {
  height: auto;
}
.tw-hover-opacity.has-background-dim:hover
  .wp-block-cover__gradient-background {
  opacity: 0.65 !important;
}
.tw-hover-opacity.has-background-dim-10:hover
  .wp-block-cover__gradient-background {
  opacity: 0.2 !important;
}
.tw-hover-opacity:is(.has-background-dim-20, .has-background-dim-30):hover
  .wp-block-cover__gradient-background {
  opacity: 0.4 !important;
}
.tw-eyebrow.tw-eyebrow:is(h1, h2, h3, h4, h5, h6, p) {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.entry-content .tw-eyebrow.tw-eyebrow + :is(h1, h2, h3, h4, p) {
  margin-top: 20px;
}
.tw-text-uppercase {
  text-transform: uppercase !important;
}
.tw-font-bold {
  font-weight: 700 !important;
}
.tw-font-normal {
  font-weight: 400 !important;
}
.tw-font-italic {
  font-style: italic !important;
}
.tw-line-height-tight:not([style*='line-height']) {
  line-height: 1.25 !important;
}
.tw-letter-spacing-tight {
  letter-spacing: -0.02em !important;
}
.tw-letter-spacing-normal {
  letter-spacing: normal !important;
}
.tw-letter-spacing-loose {
  letter-spacing: 0.02em !important;
}
.tw-border-t-0 {
  border-top: 0 !important;
}
.tw-border-r-0 {
  border-right: 0 !important;
}
.tw-border-b-0 {
  border-bottom: 0 !important;
}
.tw-border-l-0 {
  border-left: 0 !important;
}
.tw-pt-0 {
  padding-top: 0 !important;
}
.tw-pb-0 {
  padding-bottom: 0 !important;
}
:where(.has-text-color, .wp-block-cover) .wp-block-quote {
  border-color: currentcolor;
}
:where(.has-text-color, .wp-block-cover) .wp-block-embed figcaption,
:where(.has-text-color, .wp-block-cover)
  .wp-block-image:not(.is-style-tw-frame)
  figcaption {
  color: currentcolor;
}
ul[class*='is-style-tw'] {
  list-style: none !important;
  padding-inline: 0 !important;
}
ul:where(.is-style-tw-dash, .is-style-tw-checkmark, .is-style-tw-arrow) ul {
  list-style: none;
  padding-inline-start: 0;
}
ul.is-style-tw-no-bullet ul {
  list-style: none;
}
ul.is-style-tw-dash li {
  position: relative;
  padding-inline-start: 1.125em;
  margin-inline-start: 0;
}
ul.is-style-tw-dash li::before {
  content: '–';
  position: absolute;
  inset-inline-start: 0;
}
ul:where(.is-style-tw-checkmark, .is-style-tw-arrow) li {
  position: relative;
  padding-inline-start: 1.5em;
  margin-inline-start: 0;
}
ul.is-style-tw-checkmark li::before {
  content: '┘';
  position: absolute;
  inset-inline-start: 0;
  transform: rotate(45deg);
  font-size: 1em;
  top: 0.2em;
  font-family: Arial, sans-serif;
}
ul.is-style-tw-arrow li::before {
  content: '→';
  position: absolute;
  inset-inline-start: 0;
}
ul.is-style-tw-no-bullet li {
  margin-inline-start: 0;
}
ul.is-style-tw-inline li {
  display: inline-block;
  margin-inline-end: 1em;
  margin-inline-start: 0;
}
ul.is-style-tw-inline.has-text-align-center li {
  margin-inline: 0.5em;
}
ul.is-style-tw-border,
ul.is-style-tw-border-inner,
ul.is-style-tw-table {
  border-color: var(--tw-block-border-color);
}
ol.is-style-tw-border,
ol.is-style-tw-border-inner,
ol.is-style-tw-table {
  list-style-position: inside;
  list-style-type: decimal;
  border-color: var(--tw-block-border-color);
  padding-inline-start: 0;
}
.is-style-tw-border > li:first-child {
  border-top: 1px solid;
  border-color: inherit;
}
.is-style-tw-border-inner > li,
.is-style-tw-border > li {
  border-bottom: 1px solid;
  border-color: inherit;
  margin: 0;
  padding-block: 8px;
}
.is-style-tw-border-inner > li:last-child {
  border-bottom: 0;
}
ol.is-style-tw-table,
ul.is-style-tw-table {
  border-style: solid;
  border-width: 1px;
  border-bottom: 0;
}
.is-style-tw-table > li {
  border-bottom: 1px solid var(--tw-block-border-color);
  margin: 0;
  padding: 0.75em;
}
.tw-list-spacing-medium li,
.tw-list-spacing-medium.is-style-tw-inline li:first-child {
  margin-top: 8px;
}
.tw-list-spacing-loose li,
.tw-list-spacing-loose.is-style-tw-inline li:first-child {
  margin-top: 16px;
}
.tw-list-spacing-loose > li:first-child,
.tw-list-spacing-medium > li:first-child {
  margin-top: 0;
}
.tw-list-spacing-medium:is(.is-style-tw-border, .is-style-tw-border-inner) li {
  margin-top: 0;
  padding-block: 14px;
}
.is-style-tw-table.tw-list-spacing-medium li {
  margin-top: 0;
  padding: 14px;
}
.tw-list-spacing-loose:is(.is-style-tw-border, .is-style-tw-border-inner) li {
  margin-top: 0;
  padding-block: 20px;
}
.is-style-tw-table.tw-list-spacing-loose li {
  margin-top: 0;
  padding: 20px;
}
.is-style-tw-nav-stack .post-navigation-link__label {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: min(0.75em, 1rem);
  opacity: 0.7;
  font-family: var(--wp--preset--font-family--primary, inherit);
}
.is-style-tw-nav-stack .post-navigation-link__label + a,
.is-style-tw-nav-stack .post-navigation-link__title {
  display: block;
}
.is-style-tw-nav-side-arrow {
  position: relative;
}
.post-navigation-link-previous.is-style-tw-nav-side-arrow a {
  display: inline-block;
  padding-inline-start: 1.5em;
}
.post-navigation-link-next.is-style-tw-nav-side-arrow a {
  display: inline-block;
  padding-inline-end: 1.5em;
}
.is-style-tw-nav-side-arrow
  :where(
    .wp-block-post-navigation-link__arrow-previous,
    .wp-block-post-navigation-link__arrow-next
  ) {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: inherit;
}
.is-style-tw-nav-side-arrow .wp-block-post-navigation-link__arrow-next {
  left: auto;
  right: 0;
}
.wp-block-post-template.tw-valign-top {
  align-items: flex-start;
}
.wp-block-post-template.tw-valign-center {
  align-items: center;
}
.wp-block-post-template.tw-valign-bottom {
  align-items: flex-end;
}
@media (max-width: 767px) {
  .wp-block-post-template.is-flex-container {
    column-gap: min(var(--tw-gap-x, var(--wp--style--block-gap, 1.25em)), 20px);
  }
  .wp-block-post-template-is-layout-grid.tw-cols-small,
  .wp-block-post-template.is-flex-container.tw-cols-small {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
@media (min-width: 768px) {
  .wp-block-post-template.tw-cols-small.columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .wp-block-post-template.tw-cols-small.columns-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wp-block-post-template.tw-cols-large.columns-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .wp-block-post-template.tw-cols-large.columns-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .wp-block-post-template.tw-cols-small:is(.columns-5, .columns-6) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .wp-block-post-template.tw-cols-large.columns-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .wp-block-post-template.tw-cols-large.columns-5,
  .wp-block-post-template:is(.tw-cols-small, .tw-cols-large).columns-6 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.wp-block-post-excerpt__more-text {
  margin-top: 1em;
}
.wp-block-query
  .tw-stretched-link
  :where(
    .wp-block-post-terms:not(.tw-no-link),
    .wp-block-post-author__name,
    .wp-block-read-more
  ) {
  position: relative;
  z-index: 2;
}
.wp-block-query .wp-block-post .tw-stretched-link a::after {
  content: none;
}
.wp-block-query
  .wp-block-post
  .tw-stretched-link
  :where(.wp-block-post-title, .wp-block-post-excerpt__more-text)
  a::after {
  content: '';
}
.wp-block-pullquote:is(.is-style-plain, .is-style-tw-icon) {
  border: none;
}
.wp-block-pullquote:is(.is-style-plain, .is-style-tw-icon):not(
    .has-background
  ) {
  padding: 0;
}
.wp-block-pullquote.is-style-tw-icon::before {
  content: '“';
  display: block;
  line-height: 1;
  font-size: 2em;
  margin-bottom: -0.125em;
}
.wp-block-query-pagination
  :is(
    .is-style-tw-btn-pill,
    .is-style-tw-btn-square,
    .is-style-tw-btn-rounded
  ) {
  padding: 0.375em 1em;
  border: 1px solid;
  text-decoration: none;
}
.wp-block-query-pagination .is-style-tw-btn-pill {
  border-radius: 50px;
}
.is-style-tw-rounded .page-numbers,
.wp-block-query-pagination .is-style-tw-btn-rounded {
  border-radius: var(--tw-block-rounded-sm);
}
.wp-block-query-pagination
  :is(
    .is-style-tw-btn-pill,
    .is-style-tw-btn-square,
    .is-style-tw-btn-rounded
  ):hover {
  opacity: 0.85;
  text-decoration: none;
}
.wp-block-query-pagination
  .has-background:where(
    .is-style-tw-btn-pill,
    .is-style-tw-btn-square,
    .is-style-tw-btn-rounded
  ) {
  border-color: transparent;
}
.wp-block-query-pagination-numbers.is-style-tw-plain .current {
  text-decoration: none;
}
.wp-block-query-pagination-numbers:where(
    .is-style-tw-circle,
    .is-style-tw-square,
    .is-style-tw-rounded
  )
  .page-numbers:not(.dots) {
  width: 2em;
  height: 2em;
  padding: 0;
  line-height: calc(2em - 2px);
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.wp-block-query-pagination-numbers:where(
    .is-style-tw-circle,
    .is-style-tw-square,
    .is-style-tw-rounded
  )
  a.page-numbers:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.is-style-tw-circle .page-numbers {
  border-radius: 50%;
}
.wp-block-query-pagination-numbers:where(
    .is-style-tw-circle,
    .is-style-tw-square,
    .is-style-tw-rounded
  )
  .current {
  border: 1px solid;
  text-decoration: none;
}
.wp-block-query-pagination.has-background {
  padding: 20px 24px;
}
.wp-block-quote:is(.is-style-plain, .is-style-tw-icon) {
  border: none;
}
.wp-block-quote:is(.is-style-plain, .is-style-tw-icon):not(.has-background) {
  padding: 0 !important;
  border: 0 !important;
  background: none;
}
.wp-block-quote.is-style-tw-icon::before {
  content: '“';
  display: block;
  line-height: 1;
  font-size: 2em;
  margin-bottom: -0.125em;
}
.wp-block-table:where(.is-style-tw-border-h, .is-style-tw-border-h-inner)
  table {
  border-color: var(--tw-block-border-color);
}
.wp-block-table.is-style-tw-border-h table {
  border: 1px solid;
  border-inline: 0;
}
.wp-block-table.is-style-tw-border-h-inner table {
  border-style: none;
}
.wp-block-table.is-style-tw-border-h tr,
.wp-block-table.is-style-tw-border-h-inner table tr {
  border-bottom: 1px solid;
  border-color: inherit;
}
.wp-block-table.is-style-tw-border-h-inner tfoot tr:first-child {
  border-top-width: 1px;
  border-top-style: solid;
}
.wp-block-table.is-style-tw-border-h-inner :where(tbody, tfoot) tr:last-child {
  border-bottom: 0;
}
.wp-block-table:where(.is-style-tw-border-h, .is-style-tw-border-h-inner)
  tr
  :where(td, th):first-child {
  padding-inline-start: 0;
}
.wp-block-table:where(.is-style-tw-border-h, .is-style-tw-border-h-inner)
  tr
  :where(td, th):last-child {
  padding-inline-end: 0;
}
.wp-block-table:where(.is-style-tw-border-h, .is-style-tw-border-h-inner)
  tr
  :where(td, th) {
  border: 0 !important;
}
.wp-block-table.tw-row-valign-top :where(td, th) {
  vertical-align: top;
}
.wp-block-tag-cloud:where(
    .is-style-tw-outline-pill,
    .is-style-tw-outline-rounded,
    .is-style-tw-plain
  ) {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.wp-block-tag-cloud:where(
    .is-style-tw-outline-pill,
    .is-style-tw-outline-rounded,
    .is-style-tw-plain,
    .is-style-tw-list
  )
  a {
  margin-inline: 0;
  font-size: unset !important;
}
.wp-block-tag-cloud:where(
    .is-style-tw-outline-pill,
    .is-style-tw-outline-rounded
  )
  a {
  border: 1px solid;
  padding: 1ch 2ch;
  text-decoration: none !important;
  border-radius: 100px;
}
.wp-block-tag-cloud.is-style-tw-outline-rounded a {
  border-radius: var(--tw-block-rounded-sm);
}
.wp-block-tag-cloud.is-style-outline {
  gap: 12px;
}
.wp-block-tag-cloud.is-style-tw-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wp-block-tag-cloud.tw-large-gap {
  gap: 12px 24px;
}
.wp-block-tag-cloud span {
  margin-inline-start: 0.2em;
}
.wp-block-tag-cloud.tw-count-lighter span {
  opacity: 0.7;
}
.wp-block-tag-cloud.tw-count-sup span {
  vertical-align: super;
  font-size: max(0.625em, 10px);
}
.wp-block-search:not(.wp-block-search__button-inside).is-style-tw-underline
  .wp-block-search__input {
  border: none;
  border-bottom: 1px solid var(--tw-block-border-color);
  border-top: 1px solid transparent !important;
}
.wp-block-search.wp-block-search__button-inside.is-style-tw-underline
  .wp-block-search__inside-wrapper {
  border: none;
  border-bottom: 1px solid var(--tw-block-border-color);
  padding: 0;
}
.wp-block-search.is-style-tw-underline .wp-block-search__input {
  background: transparent;
  color: currentcolor;
  padding-inline-start: 0;
  border-radius: 0;
}
.wp-block-search.is-style-tw-underline .wp-block-search__input:focus {
  outline: none;
}
.wp-block-search__button-inside.is-style-tw-underline.wp-block-search__icon-button
  .wp-block-search__button:not(.has-background) {
  padding: 0;
  background: transparent;
  color: currentcolor;
  border: 0;
}
.wp-block-cover.is-style-tw-shadow {
  box-shadow: var(--tw-block-shadow);
}
.wp-block-cover.is-style-tw-hard-shadow {
  box-shadow: var(--tw-block-hard-shadow);
}
.wp-block-cover.is-style-tw-rounded-corners {
  border-radius: var(--tw-block-rounded);
  overflow: hidden;
}
.wp-block-cover.is-style-rounded {
  border-radius: 9999px;
  overflow: hidden;
}
.wp-block-cover.is-style-tw-border-inner::after {
  content: '';
  position: absolute;
  inset: 10px;
  border: 2px solid #fff;
  z-index: 1;
  pointer-events: none;
  min-height: auto;
}
.wp-block-cover.has-custom-content-position .wp-block-cover__inner-container {
  max-width: 100%;
}
.tw-content-width-100 .wp-block-cover__inner-container {
  width: 100% !important;
}
.wp-block-cover.tw-hover-opacity
  :is(.wp-block-cover__background, .wp-block-cover__gradient-background),
.wp-block-cover.tw-hover-opacity::before {
  transition: opacity 0.2s;
}
.tw-hover-opacity.has-background-dim:hover::before,
.tw-hover-opacity:where(:hover, :focus-within)
  :is(
    .wp-block-cover__background,
    .wp-block-cover__gradient-background
  ).has-background-dim {
  opacity: 0.65 !important;
}
.tw-hover-opacity:where(:hover, :focus-within)
  :is(.wp-block-cover__background, .wp-block-cover__gradient-background):is(
    .has-background-dim-0,
    .has-background-dim-10
  ) {
  opacity: 0.2 !important;
}
.tw-hover-opacity:is(
    .has-background-dim-10,
    .has-background-dim-20,
    .has-background-dim-30
  ):hover::before,
.tw-hover-opacity:where(:hover, :focus-within)
  :is(.wp-block-cover__background, .wp-block-cover__gradient-background):is(
    .has-background-dim-20,
    .has-background-dim-30
  ) {
  opacity: 0.4 !important;
}
.tw-hover-opacity:where(:hover, :focus-within)
  :is(
    .wp-block-cover__background,
    .wp-block-cover__gradient-background
  ).has-background-dim-100 {
  opacity: 0.5 !important;
}
.tw-hover-show-text-alt .wp-block-cover__inner-container {
  opacity: 0;
  transition: opacity 0.3s;
}
.tw-hover-show-text-alt:not(:hover):not(:focus-within)
  :is(.wp-block-cover__background, .wp-block-cover__gradient-background) {
  opacity: 0 !important;
}
.tw-hover-hide-text
  :is(
    .wp-block-cover__inner-container,
    .wp-block-cover__background,
    .wp-block-cover__gradient-background
  ) {
  transition: opacity 0.3s;
}
.tw-hover-hide-text:where(:hover, :focus-within)
  :is(
    .wp-block-cover__inner-container,
    .wp-block-cover__background,
    .wp-block-cover__gradient-background
  ),
.tw-stretched-link:where(:hover, :focus-within)
  .tw-hover-hide-text
  :where(.wp-block-cover__inner-container, .wp-block-cover__background) {
  opacity: 0 !important;
}
.tw-hover-hide-text:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
}
.wp-block-cover.tw-hover-zoom {
  overflow: hidden;
}
.wp-block-cover.tw-hover-zoom img {
  transition: transform 0.4s;
}
.tw-stretched-link:where(:hover, :focus-within) .tw-hover-zoom img,
.wp-block-cover.tw-hover-zoom:where(:hover, :focus-within) img {
  transform: scale(1.05);
}
.wp-block-cover.tw-stretched-link .wp-block-cover__inner-container {
  pointer-events: none;
}
.wp-block-group.tw-stretched-link .wp-block-cover {
  pointer-events: none;
  z-index: 2;
}
.tw-stretched-link:is(.wp-block-cover, .wp-block-group)
  .wp-block-cover__inner-container
  a,
.tw-stretched-link:is(.wp-block-cover, .wp-block-group)
  .wp-block-cover__inner-container
  button {
  pointer-events: auto;
}
.wp-block-cover:is(.tw-hover-show-text, .tw-hover-show-text-alt) a {
  text-decoration: none;
}
@media (hover: none) {
  .tw-hover-show-text-alt
    :is(.wp-block-cover__background, .wp-block-cover__gradient-background) {
    opacity: 0 !important;
  }
  .wp-block-cover.tw-hover-show-text-alt a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@media (hover: hover) {
  .tw-hover-show-text
    :is(.wp-block-cover__background, .wp-block-cover__gradient-background),
  .tw-hover-show-text-alt
    :is(.wp-block-cover__background, .wp-block-cover__gradient-background),
  .tw-hover-show-text.is-style-tw-border-inner::after,
  .tw-hover-show-text::before {
    transition: opacity 0.3s;
  }
  .tw-hover-show-text.is-style-tw-border-inner:not(:hover):not(
      :focus-within
    )::after,
  .tw-hover-show-text:not(:hover):not(:focus-within)
    :is(.wp-block-cover__background, .wp-block-cover__gradient-background),
  .tw-hover-show-text:not(:hover):not(:focus-within)::before {
    opacity: 0 !important;
  }
  .tw-hover-show-text .wp-block-cover__inner-container {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tw-hover-show-text-alt:where(:hover, :focus-within)
    .wp-block-cover__inner-container,
  .tw-hover-show-text:where(:hover, :focus-within)
    .wp-block-cover__inner-container,
  .tw-stretched-link:is(:hover, :focus-within)
    :is(.tw-hover-show-text, .tw-hover-show-text-alt)
    :is(.wp-block-cover__background, .wp-block-cover__inner-container) {
    opacity: 1 !important;
  }
}
.wp-block-cover[class*='tw-ratio'] {
  min-height: auto !important;
}
.wp-block-cover.tw-ratio-2-3 {
  aspect-ratio: 2/3;
}
.wp-block-cover.tw-ratio-3-4 {
  aspect-ratio: 3/4;
}
.wp-block-cover.tw-ratio-1-1 {
  aspect-ratio: 1/1;
}
.wp-block-cover.tw-ratio-4-3 {
  aspect-ratio: 4/3;
}
.wp-block-cover.tw-ratio-3-2 {
  aspect-ratio: 3/2;
}
.wp-block-cover.tw-ratio-16-9 {
  aspect-ratio: 16/9;
}
.wp-block-cover[style*='--shape'] {
  -webkit-clip-path: var(--shape);
  clip-path: var(--shape);
}
.wp-block-cover.tw-stack {
  align-items: normal !important;
}
.wp-block-cover.tw-stack .wp-block-cover__inner-container {
  display: flex;
  flex-direction: column;
}
.is-style-tw-col-shadow,
.wp-block-column.is-style-tw-shadow {
  box-shadow: var(--tw-block-shadow);
}
.is-style-tw-col-hard-shadow,
.wp-block-column.is-style-tw-hard-shadow {
  box-shadow: var(--tw-block-hard-shadow);
}
:where(.is-style-tw-col-shadow, .is-style-tw-col-hard-shadow) {
  background-color: #fff;
  color: #000;
}
.is-style-tw-col-border-top {
  border-style: none;
  border-top: 1px solid;
  padding-top: 24px;
}
.tw-stretched-blocks > .wp-block-column,
.wp-block-column.tw-stack {
  display: flex;
  flex-direction: column;
}
.tw-stretched-blocks
  > .wp-block-column
  > :is(
    .wp-block-image,
    .wp-block-post-featured-image,
    .wp-block-group:only-child,
    .wp-block-cover,
    .wp-block-columns,
    .wp-block-gallery
  ) {
  flex-grow: 1;
}
.tw-stretched-blocks
  > .wp-block-column
  > :is(.wp-block-image, .wp-block-post-featured-image)
  img {
  min-height: 100%;
  object-fit: cover;
}
.tw-stretched-blocks
  > .wp-block-column
  > :is(.wp-block-image, .wp-block-post-featured-image)
  a {
  height: 100%;
}
.wp-block-columns[style*='radius'] {
  overflow: hidden;
}
.wp-block-media-text.tw-height-full {
  min-height: 100vh;
}
.wp-block-media-text.tw-height-full.is-image-fill-element
  > .wp-block-media-text__media
  img,
.wp-block-media-text.tw-height-full.is-image-fill
  > .wp-block-media-text__media
  img {
  max-height: 100vh;
}
.wp-block-media-text.is-style-tw-shadow {
  box-shadow: var(--tw-block-shadow);
  background-color: #fff;
}
.wp-block-media-text.is-style-tw-shadow:not(.has-background):not(
    .has-text-color
  ) {
  color: #000;
}
.wp-block-media-text.is-style-tw-hard-shadow.has-background,
.wp-block-media-text.is-style-tw-hard-shadow:not(.has-background)
  .wp-block-media-text__media {
  box-shadow: var(--tw-block-hard-shadow);
}
.wp-block-media-text.tw-img-rounded .wp-block-media-text__media {
  border-radius: var(--tw-block-rounded);
}
.wp-block-media-text.is-style-tw-overlap {
  visibility: hidden;
}
.wp-block-media-text.is-style-tw-overlap .wp-block-media-text__media {
  visibility: visible;
}
.wp-block-media-text.is-style-tw-overlap .wp-block-media-text__content {
  visibility: visible;
  background: inherit;
  margin-left: -80px;
  z-index: 1;
}
.wp-block-media-text.is-style-tw-overlap:not(.has-background) {
  column-gap: 0 !important;
  padding-inline: 0;
}
.wp-block-media-text.is-style-tw-overlap.has-media-on-the-right
  .wp-block-media-text__content {
  margin-left: 0;
  margin-right: -80px;
}
.wp-block-media-text.tw-stretched-link a:first-of-type::after {
  z-index: 3;
}
@media (max-width: 1023px) {
  .wp-block-media-text.tw-stack-md {
    grid-template-columns: 100% !important;
    margin-inline: auto;
  }
  .wp-block-media-text.tw-stack-md .wp-block-media-text__media,
  .wp-block-media-text.tw-stack-md.tw-media-bottom
    .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.tw-stack-md .wp-block-media-text__content,
  .wp-block-media-text.tw-stack-md.tw-media-bottom .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 2;
  }
  .wp-block-media-text.tw-height-full.tw-stack-md {
    min-height: auto;
  }
  .wp-block-media-text.tw-stack-md.tw-media-narrow .wp-block-media-text__media {
    max-width: 360px;
    margin: 0 auto;
  }
  .wp-block-media-text.tw-stack-md.is-style-tw-overlap {
    visibility: visible;
  }
  .wp-block-media-text.tw-stack-md.is-style-tw-overlap
    .wp-block-media-text__content {
    margin: 0;
  }
  .wp-block-media-text.tw-height-full.tw-stack-md:where(
      .is-image-fill,
      .is-image-fill-element
    )
    > .wp-block-media-text__media
    img {
    max-height: none;
  }
}
.wp-block-image.is-style-tw-rounded-corners img {
  border-radius: var(--tw-block-rounded);
}
.wp-block-image.is-style-tw-border img {
  border: 1px solid var(--tw-block-border-color);
}
.wp-block-image.is-style-tw-shadow img {
  box-shadow: var(--tw-block-shadow);
}
.wp-block-image.is-style-tw-hard-shadow img {
  box-shadow: var(--tw-block-hard-shadow);
}
.is-style-tw-frame .aligncenter > figcaption,
.wp-block-image.is-style-tw-frame.is-resized > figcaption {
  display: block;
}
.wp-block-image.tw-caption-large figcaption {
  font-size: inherit;
}
.wp-block-image.aligncenter {
  margin-inline: auto;
}
.wp-block-image[style*='--shape'] img {
  -webkit-clip-path: var(--shape);
  clip-path: var(--shape);
}
.wp-block-gallery.tw-img-center .blocks-gallery-grid,
.wp-block-gallery.tw-img-center.has-nested-images {
  justify-content: center;
}
.wp-block-gallery.tw-fixed-cols :where(.blocks-gallery-item, .wp-block-image) {
  flex-grow: 0 !important;
}
.wp-block-gallery.tw-valign-center:not(.is-cropped) .wp-block-image {
  margin-block: auto !important;
}
.wp-block-gallery.tw-valign-bottom:not(.is-cropped) .wp-block-image {
  margin-block: auto 0 !important;
}
.wp-block-gallery.is-style-tw-img-rounded img {
  border-radius: var(--tw-block-rounded);
}
.wp-block-gallery:where(.is-style-tw-img-frame, .tw-img-frame) img {
  box-shadow: var(--tw-block-shadow);
  padding: 12px;
  background-color: #fff;
  box-sizing: border-box;
}
.wp-block-gallery .wp-block-image.is-style-tw-frame figcaption,
.wp-block-gallery:is(.is-style-tw-img-frame, .tw-img-frame)
  figure
  > figcaption {
  inset: 12px !important;
  top: auto !important;
  width: auto !important;
}
.wp-block-gallery.tw-img-border img {
  border: 1px solid var(--tw-block-border-color);
}
.wp-block-gallery.tw-img-border.tw-gutter-no
  :is(.blocks-gallery-item, .wp-block-image) {
  margin: -1px 0 0 -1px !important;
}
.wp-block-gallery.tw-img-border-inner {
  overflow: hidden;
  --wp--style--unstable-gallery-gap: 0px;
  gap: 0px !important;
}
.wp-block-gallery.tw-img-border-inner
  :where(.blocks-gallery-grid, .wp-block-image) {
  margin: -2px 0 0 -1px !important;
}
.wp-block-gallery.tw-img-border-inner img {
  border-top: 1px solid var(--tw-block-border-color);
  border-left: 1px solid var(--tw-block-border-color);
}
.wp-block-gallery.tw-img-border-inner .blocks-gallery-item img {
  min-height: 10px;
}
.wp-block-gallery[class*='tw-img-ratio'] img {
  aspect-ratio: var(--tw-img-ratio);
  object-fit: cover;
}
.wp-block-gallery.tw-caption-large
  :is(.blocks-gallery-item, .wp-block-image)
  figcaption {
  font-size: inherit !important;
  padding-bottom: 20px;
}
.wp-block-gallery.is-style-tw-img-rounded figcaption {
  border-bottom-left-radius: var(--tw-block-rounded);
  border-bottom-right-radius: var(--tw-block-rounded);
}
@media (hover: hover) {
  .wp-block-gallery.tw-hover-show-caption .wp-block-image figcaption {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .wp-block-gallery.tw-hover-show-caption .wp-block-image:hover figcaption {
    opacity: 1;
  }
}
.wp-block-latest-posts > li::after {
  content: '';
  display: table;
  clear: both;
}
ul.wp-block-latest-posts.is-style-tw-posts-border:not(.is-grid)
  li:not(:first-child) {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid var(--tw-block-border-color);
}
ul.wp-block-latest-posts.is-style-tw-posts-border.is-grid li {
  padding-top: 30px;
  border-top: 1px solid;
}
.wp-block-latest-posts.is-style-tw-posts-card {
  color: #000;
  row-gap: 32px;
}
ul.wp-block-latest-posts.is-style-tw-posts-card > li {
  background-color: #fff;
  box-shadow: var(--tw-block-shadow);
  padding: 30px 24px;
  box-sizing: border-box;
  overflow: hidden;
}
.wp-block-latest-posts.is-style-tw-posts-card.tw-stretched-link > li > a:hover,
.wp-block-latest-posts.is-style-tw-posts-card > li a {
  text-decoration: none;
}
.wp-block-latest-posts.tw-posts-rounded > li {
  border-radius: var(--tw-block-rounded);
}
.is-style-tw-posts-card
  .wp-block-latest-posts__featured-image:not(.alignleft):not(.alignright):not(
    .aligncenter
  ) {
  width: auto;
  margin-top: -30px;
  margin-inline: -24px;
}
.is-style-tw-posts-card .wp-block-latest-posts__featured-image.aligncenter {
  margin-top: -6px;
}
.is-style-tw-posts-card .wp-block-latest-posts__featured-image img {
  width: 100%;
}
[class*='tw-img-ratio'] .wp-block-latest-posts__featured-image img {
  aspect-ratio: var(--tw-img-ratio);
  object-fit: cover;
  width: 100%;
}
.tw-stretched-link.is-grid:not([class*='is-style-tw']) {
  align-items: flex-start;
}
.is-style-tw-posts-card.tw-stretched-link > li {
  transition: box-shadow 0.2s;
}
.wp-block-latest-posts.is-style-tw-posts-card.tw-stretched-link
  > li:is(:hover, :focus-within) {
  box-shadow: var(--tw-block-shadow-lg);
  z-index: 1;
}
.wp-block-latest-posts.tw-hide-more-link .more-link {
  display: none;
}
.wp-block-latest-posts__featured-image.aligncenter {
  text-align: center;
}
.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft {
  max-width: 25%;
  margin: 0 20px 0 0 !important;
  float: left;
}
.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright {
  max-width: 25%;
  margin: 0 0 0 20px !important;
  float: right;
}
.wp-block-latest-posts__featured-image.alignright ~ * {
  width: calc(75% - 20px);
}
.wp-block-latest-posts__featured-image.alignleft ~ * {
  width: calc(75% - 20px);
  float: right;
}
.wp-block-latest-posts__featured-image:where(.alignleft, .alignright) + a {
  margin-top: 0;
}
.wp-block-latest-posts li > a {
  line-height: 1.25;
}
.wp-block-latest-posts.tw-heading-size-medium li > a {
  font-size: max(1.125em, var(--wp--preset--font-size--medium));
}
.wp-block-latest-posts.tw-heading-size-large li > a {
  font-size: var(--wp--preset--font-size--large);
}
.wp-block-social-links.tw-hover-none .wp-social-link:hover {
  transform: none;
}
.wp-block-social-links.tw-hover-opacity .wp-social-link {
  opacity: 0.7;
}
.wp-block-social-links.tw-hover-opacity .wp-social-link:hover {
  opacity: 1;
  transform: none;
}
.wp-block-social-links.tw-hover-opacity-down .wp-social-link {
  opacity: 1;
}
.wp-block-social-links.tw-hover-opacity-down .wp-social-link:hover {
  opacity: 0.7;
  transform: none;
}
.wp-block-social-links.is-style-tw-square .wp-block-social-link {
  border-radius: 0;
}
.wp-block-social-links.is-style-tw-rounded .wp-block-social-link {
  border-radius: 0.25em;
}
.wp-block-post-featured-image[class*='tw-img-ratio'] img {
  aspect-ratio: var(--tw-img-ratio);
  object-fit: cover;
}
.wp-block-post-featured-image.is-style-tw-rounded-corners :where(img, span) {
  border-radius: var(--tw-block-rounded);
}
.wp-block-post-featured-image.is-style-rounded :where(img, span) {
  border-radius: 9999px;
}
.wp-block-post-featured-image.is-style-tw-frame span {
  margin: 12px;
}
.wp-block-post-featured-image.is-style-tw-border img {
  border: 1px solid var(--tw-block-border-color);
}
.wp-block-post-featured-image.is-style-tw-shadow img {
  box-shadow: var(--tw-block-shadow);
}
.wp-block-post-featured-image.is-style-tw-hard-shadow img {
  box-shadow: var(--tw-block-hard-shadow);
}
.wp-block-post-featured-image[style*='--shape'] :where(img, span),
.wp-block-post-featured-image[style*='--shape'].tw-hover-zoom {
  -webkit-clip-path: var(--shape);
  clip-path: var(--shape);
}
.wp-block-post-featured-image.tw-hover-fade :where(img, span) {
  transition: opacity 0.2s;
}
.tw-stretched-link:hover .wp-block-post-featured-image.tw-hover-fade img,
.wp-block-post-featured-image.tw-hover-fade:where(:hover, :focus-within) img {
  opacity: 0.9;
}
.wp-block-post-featured-image.tw-hover-zoom {
  overflow: hidden;
}
.wp-block-post-featured-image.tw-hover-zoom img {
  transition: transform 0.4s;
}
.tw-stretched-link:hover .wp-block-post-featured-image.tw-hover-zoom img,
.wp-block-post-featured-image.tw-hover-zoom:where(:hover, :focus-within) img {
  transform: scale(1.05);
}
.wp-block-post-featured-image[style*='--shape'].tw-hover-zoom img {
  -webkit-clip-path: none;
  clip-path: none;
}
.wp-block-post-featured-image.tw-hover-overlay span {
  transition: opacity 0.2s;
}
.tw-stretched-link:not(:hover):not(:focus-within)
  > .wp-block-post-featured-image.tw-hover-overlay
  span,
:not(.tw-stretched-link)
  > .wp-block-post-featured-image.tw-hover-overlay:not(:hover):not(
    :focus-within
  )
  span {
  opacity: 0;
}
.wp-block-post-featured-image.tw-hover-radius :where(img, span) {
  transition: border-radius 0.2s;
}
.tw-stretched-link:hover
  .wp-block-post-featured-image.tw-hover-radius
  :where(img, span),
.wp-block-post-featured-image.tw-hover-radius:where(:hover, :focus-within)
  :where(img, span) {
  border-radius: 40px !important;
}
.wp-block-post-author.tw-avatar-circle img {
  border-radius: 50%;
}
.wp-block-post-author.tw-avatar-rounded img {
  border-radius: var(--tw-block-rounded);
}
.tw-byline-inline .wp-block-post-author__name {
  display: inline;
}
.wp-block-post-author__byline {
  font-size: clamp(0.8125rem, 0.7em, 1rem);
}
.tw-byline-inline .wp-block-post-author__byline {
  display: inline;
  width: auto;
  margin-inline-end: 0.3em;
  font-size: inherit;
}
.wp-block-post-author__bio {
  font-size: min(0.9em, 1.25rem);
}
@media (min-width: 600px) and (max-width: 767px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: none;
  }
}
.wp-block-navigation:where(.tw-break-tablet, .tw-break-tablet-lg)
  .wp-block-navigation__responsive-container:not(.is-menu-open) {
  display: none;
}
.wp-block-navigation:where(.tw-break-tablet, .tw-break-tablet-lg)
  .wp-block-navigation__responsive-container-open {
  display: flex;
}
@media (min-width: 1024px) {
  .tw-break-tablet
    .wp-block-navigation__responsive-container:not(.is-menu-open) {
    display: flex;
  }
  .tw-break-tablet .wp-block-navigation__responsive-container-open {
    display: none;
  }
}
@media (min-width: 1200px) {
  .tw-break-tablet-lg
    .wp-block-navigation__responsive-container:not(.is-menu-open) {
    display: flex;
  }
  .tw-break-tablet-lg .wp-block-navigation__responsive-container-open {
    display: none;
  }
}
.is-content-justification-space-between
  > .wp-block-navigation:last-child
  .wp-block-navigation__responsive-container-open {
  margin-inline-start: auto;
}
.wp-block-navigation:not(.is-vertical):not(.is-responsive)
  :is(
    .wp-block-page-list,
    .wp-block-navigation__container,
    .wp-block-navigation__responsive-container-content
  ) {
  row-gap: 12px;
}
.tw-icon-medium
  button:where(
    .wp-block-navigation__responsive-container-close,
    .wp-block-navigation__responsive-container-open
  )
  svg {
  width: 32px;
  height: 32px;
}
.wp-block-navigation.tw-icon-medium
  button:is(
    .wp-block-navigation__responsive-container-open,
    .wp-block-navigation__responsive-container-close
  ) {
  font-size: 1.25rem;
}
.tw-icon-large
  button:where(
    .wp-block-navigation__responsive-container-close,
    .wp-block-navigation__responsive-container-open
  )
  svg {
  width: 40px;
  height: 40px;
}
.wp-block-navigation.tw-icon-large
  button:is(
    .wp-block-navigation__responsive-container-open,
    .wp-block-navigation__responsive-container-close
  ) {
  font-size: 1.5rem;
}
.wp-block-navigation:is(
    .tw-nav-active-none,
    .tw-nav-active-opacity-down,
    .tw-nav-active-opacity-up,
    .tw-nav-active-primary-color
  )
  .current-menu-item
  > a:not(:hover),
.wp-block-navigation:is(
    .tw-nav-hover-none,
    .tw-nav-hover-opacity-up,
    .tw-nav-hover-opacity-down,
    .tw-nav-hover-primary-color
  )
  li
  a:hover {
  text-decoration: none;
}
.wp-block-navigation.tw-nav-active-opacity-up .current-menu-item > a,
.wp-block-navigation.tw-nav-hover-opacity-up li a:hover,
.wp-block-navigation:where(.tw-nav-hover-opacity-down, .tw-nav-hover-opacity-up)
  .wp-block-social-links:not(.is-style-logos-only)
  a {
  opacity: 1;
}
.wp-block-navigation.tw-nav-active-opacity-down .current-menu-item > a,
.wp-block-navigation.tw-nav-hover-opacity-down li a:hover,
.wp-block-navigation:is(.tw-nav-hover-opacity-up, .tw-nav-active-opacity-up)
  li
  a {
  opacity: 0.7;
}
.wp-block-navigation:is(.tw-nav-hover-opacity-up, .tw-nav-hover-opacity-down)
  .wp-block-navigation-item__description {
  opacity: 1;
}
.wp-block-navigation.tw-nav-active-primary-color li.current-menu-item > a,
.wp-block-navigation.tw-nav-hover-primary-color li a:hover {
  color: var(--wp--preset--color--accent, var(--wp--preset--color--primary));
}
.wp-block-navigation.tw-nav-active-underline li.current-menu-item > a,
.wp-block-navigation.tw-nav-hover-underline li a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: auto;
}
.wp-block-navigation.tw-nav-active-border li.current-menu-item > a,
.wp-block-navigation.tw-nav-hover-border li a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: min(0.5em, 16px);
  text-decoration-thickness: 1px;
}
.wp-block-navigation.tw-nav-active-thick-border li.current-menu-item > a,
.wp-block-navigation.tw-nav-hover-thick-border li a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: min(0.5em, 16px);
  text-decoration-thickness: 2px;
}
.wp-block-navigation.tw-nav-hover-box
  :where(.is-menu-open, .wp-block-navigation__submenu-container)
  li
  a {
  position: relative;
}
.wp-block-navigation.tw-nav-active-box .current-menu-item > a::before,
.wp-block-navigation.tw-nav-hover-box li > a:hover::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: currentcolor;
  opacity: 0.1;
  border-radius: 8px;
}
:is(.tw-nav-hover-box, .tw-nav-active-box)
  .wp-block-navigation__container
  > li
  > a::before {
  margin: -4px -10px;
}
.wp-block-navigation.tw-nav-active-box li.current-menu-item > a,
.wp-block-navigation.tw-nav-hover-box li a:hover {
  text-decoration: none;
}
.wp-block-navigation__submenu-container.has-background {
  padding: 0;
}
.wp-block-separator {
  background: currentcolor;
}
.wp-block-separator.is-style-dots {
  height: auto;
}
.wp-block-separator.is-style-tw-asterisks {
  background: none !important;
  text-align: center;
  line-height: 1;
  border: none !important;
  height: auto !important;
}
.wp-block-separator.is-style-tw-asterisks::before {
  content: '* * *';
  font-size: 1.125em;
}
.wp-block-separator.wp-block-separator.is-style-tw-dotted {
  width: 100%;
  height: 1px;
  border: 0;
  background: linear-gradient(
    90deg,
    currentcolor 1px,
    transparent 0
  ) !important;
  background-size: 4px 1px !important;
}
.wp-block-separator.wp-block-separator.is-style-tw-dashed {
  width: 100%;
  height: 1px;
  border: 0;
  background: linear-gradient(
    90deg,
    currentcolor 4px,
    transparent 0
  ) !important;
  background-size: 8px 1px !important;
}
.wp-block-separator.wp-block-separator.has-background:is(
    .is-style-tw-dashed,
    .is-style-tw-dotted
  ) {
  height: 1px;
}
.wp-block-separator.is-style-tw-dotted.is-vertical {
  background: linear-gradient(0deg, currentcolor 1px, transparent 0) !important;
  background-size: 1px 4px !important;
}
.wp-block-separator.is-style-tw-dashed.is-vertical {
  background: linear-gradient(0deg, currentcolor 4px, transparent 0) !important;
  background-size: 1px 8px !important;
}
hr.tw-ml-0 {
  text-align: left !important;
}
hr.tw-mr-0 {
  text-align: right !important;
}
.wp-block-post-terms:is(
    .is-style-tw-outline,
    .is-style-tw-outline-pill,
    .is-style-tw-outline-rounded
  )
  a {
  text-decoration: none !important;
  padding: 0.5rem 1rem;
  border: 1px solid;
  margin-block: 6px;
  display: inline-block;
}
.wp-block-post-terms.is-style-tw-outline-rounded a {
  border-radius: var(--tw-block-rounded-sm);
}
.wp-block-post-terms.is-style-tw-outline-pill a {
  border-radius: 100px;
}
.wp-block-post-terms.is-style-tw-hashtag a::before {
  content: '#';
}
.wp-block-post-terms:where(
    .is-style-tw-outline,
    .is-style-tw-outline-pill,
    .is-style-tw-outline-rounded,
    .is-style-tw-hashtag,
    .is-style-tw-plain
  )
  .wp-block-post-terms__separator {
  visibility: hidden;
  display: inline-block;
  width: 12px;
}
.wp-block-post-terms.is-style-tw-plain .wp-block-post-terms__separator {
  width: 20px;
}
.wp-block-post-terms.has-background {
  padding: 0.2em 0.5em;
}
.wp-block-post-terms.tw-no-link a {
  text-decoration: none;
  cursor: auto;
}
.wp-block-post-terms.is-style-tw-list {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.wp-block-post-terms.is-style-tw-list .wp-block-post-terms__separator {
  display: none;
}
.wp-block-details.tw-has-icon summary {
  display: flex;
  list-style: none;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.wp-block-details.tw-has-icon,
.wp-block-details.tw-has-icon > *:not(summary) {
  position: relative;
}
.wp-block-details.tw-has-icon summary::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wp-block-details summary svg {
  flex: none;
  margin-top: 1px;
  fill: currentcolor;
  width: max(1.5em, 24px);
  height: max(1.5em, 24px);
}
.wp-block-details.tw-has-icon-left summary {
  justify-content: flex-start;
}
.wp-block-details.tw-has-icon-left svg {
  order: -1;
}
.wp-block-details[open] svg.details-arrow {
  transform: rotate(180deg);
}
.wp-block-details[open] svg.details-plus .plus-vertical {
  display: none;
}
.wp-block-details.tw-has-icon summary::-webkit-details-marker,
.wp-block-details.tw-has-icon summary::marker {
  display: none;
}
