@use './settings.scss' as settings;

.menu-margin {
  margin-top: settings.$menu-bar-height;
}

.menu-margin-plus {
  margin-top: calc(settings.$menu-bar-height + 1rem);
  @media (max-width: settings.$responsive-max-mobile) {
    margin-top: calc(settings.$menu-bar-height + 0.6rem);
  }
}

.site-content {
  margin-bottom: 2rem;
  width: 100%;

  @media (max-width: settings.$responsive-max-mobile) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
}

img {
  max-width: 100%;
}

a.back-link {
  text-decoration: none;
  align-content: center;
  margin-right: 1em;
  font-weight: bold;
  color: black;
  justify-content: center;
  text-align: center;
}

* {
  hyphens: auto;
}

.has-text-align-center {
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: settings.$responsive-max-mobile) {
  h2 {
    font-size: 2.1rem;

    font-feature-settings: 'lnum';
    font-variant-numeric: lining-nums;
    letter-spacing: -0.015em;
    line-height: 1.2;
  }

  h3 {
    font-size: 3rem;

    font-feature-settings: 'lnum';
    font-variant-numeric: lining-nums;
    letter-spacing: -0.015em;
    line-height: 1.2;
  }

  .has-text-align-center {
    text-align: center;
  }
}

.section-content {
  width: settings.$content-max-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Nunito Sans', sans-serif;

  @media (min-width: settings.$responsive-max-mobile) {
    line-height: 1.476;
  }
  @media screen and (max-width: settings.$responsive-max-mobile) {
    margin-left: 0;
    margin-right: 0;
  }
}

.section {
  max-width: 100%;
  width: 100%;
  background-color: white;
  padding-top: var(--padding);
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 1rem;
}

// ul:not(.primary-menu):not(.sub-menu) {
ul.aufklappbare-punkte {
  gap: 1rem;
  display: grid;
}

// li:not(:last-child) {
ul.aufklappbare-punkte li {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cardlike {
  border-width: 0;
  background-color: #cceee8;
  border-radius: 0.5rem;
  padding: 1rem 1.3rem;
}

details {
  background: #cceee8;
  padding: 10px;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}
