@use '@styles/settings.scss' as settings;
@use '@styles/basic.scss' as *;

* {
  box-sizing: border-box;
}

a {
  color: black;
  font-weight: bold;
}

.infoBox {
  padding: var(--padding);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  align-self: center;
  opacity: 0.75;

  &::before {
    content: 'i';
    position: absolute;
    top: -12px;
    left: -18px;
    width: 60px;
    height: 60px;
    background-color: #2d9ddf55;
    color: #000fdd;
    font-style: italic;
    font-size: 2em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    font-weight: 800;
  }
}

.outer {
  display: flex;
  justify-content: center;
  // padding: var(--padding);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  // margin: var(--padding);
  margin-top: var(--padding);
  //  settings.$menu-bar-height;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: settings.$background-color-forms;

  .form {
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    max-width: 700px;
    // margin: 0 auto;

    background-color: #fff;

    textarea {
      resize: vertical;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px black;
      background-color: settings.$background-color-forms;
    }

    input[type='text'] {
      margin-left: 10px;
      margin-right: 10px;
      border: 2px black;
      background-color: settings.$background-color-forms;
    }

    div {
      position: relative;

      label,
      .label {
        display: block;
        padding-left: 5px;
      }

      input[type='text'],
      input[type='email'],
      input[type='tel'],
      textarea,
      fieldset,
      button {
        // border-radius: var(--border-radius);
        border: 2px black;
        padding: calc(var(--padding) / 2) var(--padding);
        box-shadow: var(--shadow);
        width: 100%;
        font: inherit;
        color: inherit;
        background-color: transparent;
        margin: 0;

        > div {
          display: grid;
          grid-template-columns: 1em auto;
          gap: 1em;

          > input[type='radio'] {
            appearance: none;
            background-color: #fff;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.5em;
            height: 1.5em;
            border: 0.1em solid currentColor;
            border-radius: 50%;
            transform: translateY(0.095em);

            &:checked {
              background-color: #2d9ddf55;
              border-color: #000fdd;

              &::before {
                content: 'x';
                font-size: 1.2em;
                display: block;
                transform: translate(6px, -3px);
              }
            }
          }

          > label {
            font: inherit;
            line-height: 2;
          }
        }
      }

      button {
        background-color: #2d9ddf55;
        border-color: #000fdd;
      }
    }
  }
}
