@use '@styles/settings.scss' as settings;

* {
  font-family: 'Nunito Sans', sans-serif;
  color: settings.$text-color;

  font-size: 21px;
  letter-spacing: 0.03125em;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}
