$responsive-max-mobile: 600px;
$general-background-color-light: #aff3c9;
// #e3f1e8;
$general-background-color-darker: #57c782;
// $general-background-color-even-darker: #0b9981;
$general-background-color-even-darker: #07806b;
$content-max-width: 900px;
$menu-bar-height-desktop: 100px;
$menu-bar-height-mobile: 90px;
$caption-font-size: 1rem;

$background-color-forms: #fafafa;

$menu-bar-height: $menu-bar-height-desktop;

@media (max-width: $responsive-max-mobile) {
  $menu-bar-height: $menu-bar-height-mobile;
}

$background-color: #fff;
$text-color: #444;

@media (prefers-color-scheme: dark) {
  $background-color: #333;
  $text-color: #fff;
}

a {
  text-decoration: none;
}
