@use './settings.scss' as settings;

.text-block {
  padding: var(--padding);
  // margin: var(--padding);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  align-self: center;
  margin-left: 0 auto;

  display: flex;
  flex-direction: column;
  max-width: settings.$content-max-width;
  width: calc(100% - 2 * var(--padding));
}

.text-container {
  // padding: var(--padding);
  display: grid;

  display: flex;
  flex-direction: column;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;

  max-width: settings.$content-max-width;
  width: 100%;
}

a {
  font-weight: bold;
  color: black;
}
