---
import { TITLE_REMARK } from 'astro:env/client';
import Layout from '@layouts/Layout.astro';

// TODO: Den Text aus Markdown oder Wordpress holen.
---

<Layout title={'Hamburg Werbefrei' + (TITLE_REMARK ?? '')}>
  <div
    id="site-content"
    class="site-content menu-margin"
    role="main"
    class="main"
  >
    <div class="section">
      <div class="section-content">
        <h2>
          <a class="back-link" href="/#gruende">&larr;</a>Gesundheit &amp;
          Umwelt
        </h2>

        <p>
          Beleuchtete, hinterleuchtete und digitale Werbeanlagen sind für einen
          Großteil der Lichtverschmutzung und die damit einhergehenden negativen
          Auswirkungen auf Mensch und Natur verantwortlich. Die Folgen von
          künstlichem Licht am Abend und bei Nacht reichen von Schlafstörungen
          bis zu schwerwiegenden Stoffwechselerkrankungen.
        </p>

        <p>
          Bei Insekten und Vögeln werden das Paarungs- und Wanderverhalten sowie
          die Nahrungssuche nachhaltig gestört, was schließlich zu einer
          Verminderung der Artenvielfalt führt.
        </p>

        <p>
          Durch das grundsätzliche Verbot digitaler Werbeanlagen, sowie die
          Reduzierung von Werbeanlagen im öffentlichen Raum wird das Problem der
          Lichtverschmutzung nachhaltig angegangen und nebenbei viel Energie
          gespart.
        </p>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/basic.scss' as *;
</style>
