---
import { TITLE_REMARK } from 'astro:env/client';
import Layout from '@layouts/Layout.astro';
import ImgWp from '@components/homepage/ImgWp.astro';

// TODO: Den Text aus Markdown oder Wordpress holen.
---

<Layout title={'Hamburg Werbefrei' + (TITLE_REMARK ?? '')}>
  <div
    id="site-content"
    class="site-content menu-margin"
    role="main"
    class="main"
  >
    <div class="section">
      <div class="section-content">
        <h2>
          <a class="back-link" href="/#gruende">&larr;</a>Klima und Ressourcen
        </h2>

        <p>
          Digitale Werbeanlagen wie Videomonitore und Mediaboards haben einen
          enormen Ressourcen- und Energieverbrauch. Eine beidseitig betriebene
          digitale Werbeanlage im CityLightPoster-Format (ca. 2 qm Werbefläche)
          hat bei einem durchgängigen Betrieb einen jährlichen Energieverbrauch
          von etwa 15.000 kWh. Dies entspricht dem Verbrauch von etwa zehn
          Einpersonenhaushalten. Bei einem Betrieb von 6 bis 24 Uhr liegt der
          jährliche Energieverbrauch bei etwa 11.250 kWh.
        </p>

        <p>
          Durch das grundsätzliche Verbot digitaler Werbeanlagen, sowie die
          Reduzierung von Werbeanlagen im öffentlichen Raum wird das Problem der
          Lichtverschmutzung nachhaltig angegangen und nebenbei viel Energie
          gespart.
        </p>

        <ImgWp mediaId={5671} title="Werbemonitore sind Wärmemonitore und verschleudern Energie." />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/basic.scss' as *;
</style>
