---
import Layout from '@layouts/Layout.astro';
import VorherNachherWp from '@components/homepage/VorherNachherWp.astro';
import ImgWp from '@components/homepage/ImgWp.astro';

// TODO: Den Text aus Markdown oder Wordpress holen.
---

<Layout subtitle="Verkehrssicherheit">
  <div
    id="site-content"
    class="site-content menu-margin"
    role="main"
    class="main"
  >
    <div class="section">
      <div class="section-content">
        <h2>
          <a class="back-link" href="/#gruende">&larr;</a>Verkehrssicherheit
        </h2>

        <p>
          Werbeanlagen konkurrieren mit Verkehrsschildern und Ampeln um die
          Aufmerksamkeit der Verkehrsteilnehmer. Nach einer Studie des
          Werbeunternehmens WallDecaux beträgt die Fixierungsdauer von
          Autofahrern bei analogen Werbeanlagen 1,85 Sekunden und bei digitalen
          Werbeanlagen 2,38 Sekunden.
        </p>

        <p>
          Bei einer innerstädtischen Geschwindigkeit von 50 Kilometer pro Stunde
          legt ein Fahrzeug in 2,38 Sekunden 33,05 Meter zurück.
        </p>

        <p>
          Die Reduzierung von Werbeanlagen und das Verbot digitaler Anlagen
          sorgen für weniger Ablenkung der Verkehrsteilnehmer. Dadurch ist ein
          positiver Einfluss auf die allgemeine Sicherheit des Straßenverkehrs
          zu erwarten.
        </p>

        <ImgWp mediaId={5666} title="Werbemonitore blenden und lenken ab" />

        <VorherNachherWp
          mediaIds={[5716, 5715]}
          title="Werbeanlagen verdecken die Sicht und gefährden Verkehrsteilnehmer:innen, insbesondere Radfahrer:innen."
        />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/basic.scss' as *;
</style>
