---
// export const prerender = false;

export interface Props {
  data: { sourceUrl: string; altText?: string; title?: string }[];
}

const { data } = Astro.props;

// seriously? the framework doesn't offer a way of doing this?
const instanceScope: string = crypto.randomUUID().substring(0, 13);
---

<galerie-container
  id={'galerie-container-' + instanceScope}
  class="galerie-container"
  data-instance-scope={instanceScope}
>
  <div class="galerie-images">
    {
      data.map((item, i) => (
        <img
          id={`galerie-img-${i}`}
          class="galerie-img"
          src={item.sourceUrl}
          alt={item.altText}
          width="100%"
        />
      ))
    }
  </div>
  <div
    class="slideshow_button slideshow_prev slideshow_transparent"
    role="button"
    data-previous-text="Vorheriges"
    tabindex="0"
    style="display: block;"
  >
    <span class="assistive-text hide-text">Vorheriges</span>
  </div>
  <div
    class="slideshow_button slideshow_next slideshow_transparent"
    role="button"
    data-next-text="Nächstes"
    tabindex="0"
    style="display: block;"
  >
    <span class="assistive-text hide-text">Nächstes</span>
  </div>
</galerie-container>

<script>
  import scope from 'astro:scope';

  let instanceScope;

  class GalerieContainer extends HTMLElement {
    get instanceScope() {
      return this.dataset.instanceScope;
    }
    connectedCallback() {
      // console.log(this.instanceScope);
      instanceScope = this.instanceScope;
      if (instanceScope) setupCallbacks(instanceScope);
    }
  }

  customElements.define('galerie-container', GalerieContainer);

  let currentIndex = 0;

  function setupCallbacks(instanceScope: string) {
    // console.log(instanceScope);

    // console.log(
    //   scope,
    //   instanceScope,
    //   document.querySelector<HTMLElement>(
    //     // `.vorher-nachher-view[data-astro-cid-${scope}]`,
    //     `#galerie-container-${instanceScope}`,
    //   ),
    // );

    const container = document.querySelector<HTMLElement>(
      // `.vorher-nachher-view[data-astro-cid-${scope}]`,
      `#galerie-container-${instanceScope}`,
    );

    const imgs = container?.querySelectorAll<HTMLElement>(
      `.galerie-img[data-astro-cid-${scope}]`,
    );
    const vor = container?.querySelector<HTMLElement>(
      `.slideshow_next[data-astro-cid-${scope}]`,
    );
    const rueck = container?.querySelector<HTMLElement>(
      `.slideshow_prev[data-astro-cid-${scope}]`,
    );

    function goNext() {
      if (!imgs) return;
      currentIndex = (currentIndex + 1) % imgs.length;
      updateImage();
    }

    function goPrev() {
      if (!imgs) return;
      currentIndex = (currentIndex + imgs.length - 1) % imgs.length;
      updateImage();
    }

    function updateImage() {
      if (!imgs) return;
      imgs.forEach((img) => {
        img.style.visibility = 'hidden';
      });
      imgs[currentIndex].style.visibility = 'visible';
    }

    vor?.addEventListener('click', goNext);
    rueck?.addEventListener('click', goPrev);
  }
</script>

<style lang="scss" scoped>
  * {
    box-sizing: content-box;
  }
  #galerie-img-0 {
    position: relative;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    visibility: visible;
  }
  img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    visibility: hidden;
  }

  .galerie-images {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    -moz-user-select: none;
  }

  .galerie-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    -moz-user-select: none;
  }

  .slideshow_next {
    right: 5px;
    background-position-x: 100% !important;
    background: url('https://wp.hamburg-werbefrei.de/wp-content/plugins/slideshow-se/images/SlideshowSEPlugin/light-arrows.png')
      no-repeat;
  }

  .slideshow_prev {
    left: 5px;
    background-position-x: 0%;
    background: url('https://wp.hamburg-werbefrei.de/wp-content/plugins/slideshow-se/images/SlideshowSEPlugin/light-arrows.png')
      no-repeat;
  }

  .slideshow_button {
    margin-top: -20px;
    height: 40px;
    width: 19px;
  }

  .slideshow_button {
    display: block;
    padding: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: none;
    z-index: 2;
  }
  .hide-text {
    opacity: 0;
  }
  .hide-text:focus-within {
    opacity: 0;
  }
</style>
