---
export interface Props {
  data: { sourceUrl: string; altText?: string; title?: string }[];
  imgHeight?: string;
}

const { data, imgHeight } = Astro.props;
---

<div class="wrapper">
  <figure class="block-gallery">
    {
      data.map(({ sourceUrl, altText }) => (
        <figure class="block-image">
          <img loading="lazy" decoding="async" src={sourceUrl} alt={altText} />
        </figure>
      ))
    }
  </figure>
</div>

<!-- TODO get downscaled images from db, not full -->

<style lang="scss" define:vars={{ imgHeight }}>
  @use 'sass:meta';

  @use '@styles/settings.scss' as settings;

  @mixin style {
    // @include meta.load-css('../../assets/wordpress/style.css');
    // @include meta.load-css('../../assets/wordpress/style.min.css');
    // @include meta.load-css('../../assets/wordpress/style-index.css');
  }

  .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    * {
      box-sizing: border-box;
    }

    & {
      width: 100%;
      max-width: 100%;
      height: fit-content;
      margin-bottom: 1rem;
    }

    figure.block-gallery {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: var(--padding);
    }
    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;
      flex: 1;
      object-fit: cover;
      width: calc(33.33333% - 0.66667em);
      height: var(--imgHeight);
    }

    figure.block-image {
      align-items: flex-end;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      margin: 0;
      width: 100%;
    }

    @media screen and (max-width: settings.$responsive-max-mobile) {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      img {
        max-height: 200px;
        width: 100%;
        height: calc(0.5 * var(--imgHeight));
      }
      figure:block-gallery {
        width: 100%;
        // Anpassungen möglich
      }
    }
  }
</style>
