---
// export const prerender = false;

import { WP_URL } from 'astro:env/client';

export interface Props {
  mediaId: number;
  title?: string;
}

const { mediaId, title } = Astro.props;

const getMediaFile = async (id: string) => {
  const query = `
    query MediaItem{
           mediaItem(id: ${id}, idType: DATABASE_ID) {
             title
             sourceUrl
             altText
           }
        } 
       `;

  return await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query,
    }),
  });
};

let mediaData = [];

for (const id of [mediaId]) {
  const response = await getMediaFile(id.toString());
  const json = await response.json();
  // console.log(JSON.stringify(json));
  mediaData.push(json.data);
}
---

<div class="wrapper">
  <img
    src={mediaData.at(0).mediaItem.sourceUrl}
    alt={mediaData.at(0).mediaItem.altText}
  />
  <figcaption>{title ?? mediaData.at(0).mediaItem.title}</figcaption>
</div>

<style lang="scss">
  // TODO in every case, figure out which parts to import.
  // this is wrong, it breaks scoping :-X
  // @import 'https://www.hamburg-werbefrei.de/wp-content/themes/twentytwenty/style.css?ver=2.0';
  // @import 'https://www.hamburg-werbefrei.de/wp-includes/css/dist/block-library/style.min.css?ver=6.7.2';
  figcaption {
    // somehow, an overall scale is applied to the html in wordpress (how to correct automatically?)
    font-size: calc(0.625 * 1.6rem);
    margin-top: 0; // calc(0.625 * 1.8rem);
  }
  .wrapper {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
  }
  img {
    max-width: 100%;
  }
</style>
