---
import { API_BASE_URL, BASE_URL } from 'astro:env/client';

let uriBase = 'http://localhost:4321/';
let middlewareUriBase = 'http://localhost:3001/';

if (import.meta.env.PROD) {
  uriBase = BASE_URL;
  middlewareUriBase = API_BASE_URL;
}

const formRedirect = `${uriBase}`; // in this case, just go back to main page (TODO: or previous page)

const formAction = `${middlewareUriBase}submit/subscribeNewsletter?redirect=${encodeURI(
  formRedirect,
)}`;
---

<div class="entry-content">
  <div class="wp-block-group fullwidth-group">
    <div
      class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow"
    >
      <div class="wp-block-group">
        <div
          class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow"
        >
          <p>Du möchtest informiert bleiben?</p>
        </div>
      </div>

      <p>
        Abonniere unseren Newsletter* und erfahre, wie es mit der
        Volksinitiative weitergeht.
      </p>

      <form
        method="post"
        action={formAction}
        onsubmit="return newsletter_check(this)"
      >
        <div class="user-field-email">
          <label for="email">E-Mail-Adresse</label><input
            type="email"
            name="email"
            id="email"
            required=""
          />
        </div>
        <div class="user-field-checkbox" style="margin: 16px">
          <label
            ><input
              id="datenschutz-checkbox"
              type="checkbox"
              name="datenschutz"
              required=""
              style="margin-right: 16px"
            />&nbsp;<a
              target="_blank"
              href="https://www.hamburg-werbefrei.de/privacy-policy-2"
              rel="noopener"
              >Ich akzeptiere die Datenschutzerklärung dieser Seite.</a
            ></label
          >
        </div><div class="user-button">
          <input
            type="submit"
            id="submit-abonnieren"
            name="submit-abonnieren"
            value="Abonnieren"
          />
        </div>
      </form>
    </div>
  </div>

  <p class="has-small-font-size">
    * (Achtung, bei manchen Providern wird die Bestätigungsmail verschluckt oder
    landet im Spamordner. Im Zweifel bitte nachschauen. t-online funktioniert
    leider gar nicht.)
  </p>
</div>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  .entry-content {
    background-color: settings.$background-color-forms;
  }
  * {
    letter-spacing: normal;
  }
  .has-small-font-size {
    font-size: 0.842em;
  }
  label {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    display: block;
    font-size: 0.842rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
  }
  input[type='email'] {
    -moz-appearance: none;
    background: settings.$background-color;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    display: block;
    letter-spacing: -0.015em;
    margin: 0;
    max-width: 100%;
    padding: 1.1em 1.44em;
    width: calc(100% - 4 * var(--padding));
  }
  input[type='submit'] {
    /* background-color: #8dc442; */
    background-color: settings.$general-background-color-even-darker;

    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.0333em;
    line-height: 1.25;
    margin: 0;
    opacity: 1;
    padding: 1.1em 1.44em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.15s linear;
    max-width: 100%;
  }
  p,
  form,
  .wp-block-group,
  .fullwidth-group,
  .entry-content,
  .wp-block-group__inner-container,
  .user-field-email,
  label {
    width: 100%;
    max-width: 100%;
  }
</style>
