---
export interface Props {
  pageId?: number;
  postId?: number;
  slug?: string;
  withTitle?: boolean;
}

const { pageId, postId, slug, withTitle } = Astro.props;

import { WP_URL } from 'astro:env/client';

// TODO diese ganze interfacing-logik auslagern
const getWpPage = async (postId: number) =>
  await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
    query Page{
           page(id: ${postId}, idType: DATABASE_ID) {
             title
             content
           }
  }      
       `,
    }),
  });

const getWpPageBySlug = async (slug: string, type: string) =>
  await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
    query PostBySlug{
         ${type}(id: "${slug}", idType: SLUG) {
             title
             content
           }
  }
       `,
    }),
  });

const getWpPost = async (postId: number) =>
  await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
    query Post{
           post(id: ${postId}, idType: DATABASE_ID) {
             title
             content
           }
    }
       `,
    }),
  });

const pageResponse = slug
  ? await getWpPageBySlug(slug, 'post')
  : pageId
    ? await getWpPage(pageId)
    : postId
      ? await getWpPost(postId)
      : undefined;

const hasError = !pageResponse || pageResponse?.status === 500;

// console.log(hasError);
if (hasError) {
  console.error('error', slug);
  //, await pageResponse?.text())
}

const json = await pageResponse?.json();

if (!json.data) console.error(json);

const pageContent: string = pageId
  ? json?.data.page?.content
  : slug || postId
    ? json?.data.post?.content
    : 'neither pageId nor postId given';

import { rewriter } from '@util/adapters.ts';

const pseudoResponse = new Response(pageContent);
Object.defineProperty(pseudoResponse, 'url', { value: Astro.url });
const pageContentRewrittenPseudoResponse = rewriter(
  // TODO write this logic only once!! possible to use Astro in .ts file? pass it in
  Astro.site ?? new URL(`${Astro.url.protocol}${Astro.url.host}`),
).transform(pseudoResponse);
const pageContentRewritten = await pageContentRewrittenPseudoResponse.text();
// console.log(pageContentRewritten)

const pageTitle: string = pageId
  ? json?.data.page?.title
  : postId
    ? json?.data.post?.title
    : 'neither pageId nor postId given';
---

<div class="wrapper-for-styled-wp-content">
  {withTitle ? <h3>{withTitle ? pageTitle : ''}</h3> : <div />}

  <Fragment set:html={pageContentRewritten} />
</div>

<style lang="scss" is:global>
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;

  @use 'sass:meta';

  @mixin style {
    @include meta.load-css('../../assets/wordpress/style.css');
    @include meta.load-css('../../assets/wordpress/style.min.css');
    @include meta.load-css('../../assets/wordpress/style-index.css');
  }

  @mixin pseudoscopedstyle {
    .wrapper-for-styled-wp-content {
      @include style;

      @include meta.load-css('../../assets/wordpress/galerie.scss');

      h1,
      .heading-size-1,
      h2,
      .heading-size-2,
      h3,
      .heading-size-3 {
        margin: 0;
      }

      @media (min-width: 700px) {
        h1,
        .heading-size-1,
        h2,
        .heading-size-2,
        h3,
        .heading-size-3 {
          margin: 0;
        }
      }
      .entry-content .has-larger-font-size {
        font-size: 1.5em;
        line-height: 1.3;
      }

      hr.wp-block-separator {
        margin: 0rem;
      }

      img {
        max-width: 100%;
      }

      * {
        font-family: 'Nunito Sans', sans-serif;
      }

      h3 {
        font-size: 1.5rem;
        letter-spacing: -0.015em;
        font-weight: 500;
      }
      h2,
      h2.wp-block-heading {
        // doesn't look quite right yet
        line-height: 1.3;
        letter-spacing: -0.015em;
        font-size: 2.6rem;
        font-weight: 500;
      }

      a:hover {
        text-decoration: none;
      }
      a {
        color: black;
        text-decoration: underline;
      }

      ol {
        list-style: decimal;
        margin-bottom: 2rem;
      }
      ol.wp-block-list {
        list-style: decimal;
      }
      ul {
        margin-inline-start: 0;
        list-style: disc;
      }
      ul > li {
        margin-inline-start: 0;
        list-style: disc;
        margin: 0.5rem 0 0 1rem;
      }

      a[href^="https://signal.group"]
      {
        word-break: break-all;
      }

      .wp-block-button__link {
        padding: 1rem;
      }

      // Override ugly styles from wordpress
      cite em {
        color: #6d6d6d;
        font-size: settings.$caption-font-size;
        font-style: italic;
        font-weight: 600;
        line-height: 1.25;
      }
      cite {
        color: #6d6d6d;
        font-size: settings.$caption-font-size;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25;
      }
      blockquote {
        margin: 1rem 0;
      }
      blockquote p {
        font-size: larger;
      }
      .wp-block-quote {
        margin: 2rem 0;
      }
      blockquote cite {
        display: block;
      }
    }
  }

  @include pseudoscopedstyle;
</style>
