---
import Card from '../Card.astro';
import DetailsCard from '../DetailsCard.astro';
import KoepfeUndZitate from '@components/homepage/parts/koepfeUndZitate.astro';

import Moeve from '../../assets/moeve_transparent_crop.png';
import BildergalerieWp from '@components/homepage/BildergalerieWp.astro';
import NewsletterComponent from '@components/homepage/NewsletterComponent.astro';
---

<div class="splash site-content">
  <div class="section">
    <div class="section-content">
      <h3 class="wp-block-heading">Hamburg ist keine Dauerwerbesendung!</h3>
      <p>Wir möchten, dass Werbebildschirme aus dem Stadtbild verschwinden.</p>
      <p>
        Damit es zu einer Volksabstimmung darüber kommt, brauchen wir bis zum
        13. Mai 2025 die Unterstützung von ca. 80.000 Menschen.
      </p>
    </div>
  </div>

  <div class="section">
    <div id="start" class="section-content">
      <h3 id="mitmachen">Mitmachen</h3>
      <div class="row">
        <div class="col13">
          <Card title="Briefeintragung" href="/briefeintragung">
            Beantrage jetzt in 23 Sekunden deine persönlichen Unterlagen zur
            Briefeintragung!
          </Card>
        </div>
        <div class="col13">
          <Card title="Newsletter" href="/newsletter">
            Trag dich gerne in den Newsletter ein, um über die nächsten Schritte
            informiert zu werden.
          </Card>
        </div>
        <div class="col13">
          <Card title="Sammeln" href="/sammeln">
            Registriere dich jetzt schon als Sammler:in für die zweite
            Sammelphase (23. April bis 13. Mai 2025)
          </Card>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-content">
      <h3>Das Vorhaben</h3>
      <div class="row">
        <div class="moewe-img">
          <img
            src={Moeve.src}
            alt="Möwe, die auf einer Werbetafel sitzt"
            width="100%"
          />
        </div>
        <div class="col23 padding-top-desktop blocksatz">
          Die Dominanz von Werbung im öffentlichen Raum wirkt sich negativ auf
          das Stadtbild aus und macht aus Hamburg eine Projektionsfläche für
          Werbebotschaften. Digitale Werbemonitore mit animierten und bewegten
          Bildern prägen zunehmend Hamburgs Stadtraum.
        </div>
      </div>

      <h2>Unsere Lösung:</h2>

      <ul class="aufklappbare-punkte">
        <li>
          <details>
            <summary>Weniger Werbeanlagen</summary>
            <div class="details-block">
              Reduzierung der Anzahl von Werbeanlagen, insbesondere auf
              öffentlichem Straßengrund
            </div>
          </details>
        </li>
        <li>
          <details>
            <summary>Vermeidung optischer Dominanz</summary>
            <div class="details-block">
              Umsetzung gestalterischer Vorgaben für Werbeanlagen zwecks
              stadtbildverträglicher Integration und Vermeidung von optischer
              Dominanz von Werbung im Straßen-, Orts- oder Landschaftsbild
            </div>
          </details>
        </li>
        <li>
          <details>
            <summary>Keine digitale Werbung</summary>
            <div class="details-block">
              Grundsätzliches Verbot von digitalen Werbeanlagen und
              Wechsellichtanlagen
            </div>
          </details>
        </li>
        <li>
          <details>
            <summary>Priorisierung nichtkommerzieller Werbung</summary>
            <div class="details-block">
              Priorisierung von Veranstaltungshinweisen und nichtkommerziellen
              Informationen
            </div>
          </details>
        </li>
      </ul>

      Mit der Reduzierung von Werbeanlagen, den Gestaltungsvorgaben und dem
      grundsätzlichen Verbot von digitalen Werbeanlagen wird die
      Aufenthaltsqualität im öffentlichen Raum nachhaltig erhöht.
    </div>
  </div>

  <div class="section">
    <div id="gruende" class="section-content">
      <h3>Gründe</h3>
      <div class="row">
        <div class="col13">
          <DetailsCard title="Gesundheit und Umwelt" href="/gruende/gesundheit">
            Beleuchtete, hinterleuchtete und digitale Werbeanlagen sind für
            einen Großteil der Lichtverschmutzung verantwortlich.
          </DetailsCard>
        </div>
        <div class="col13">
          <DetailsCard
            title="Verkehrssicherheit"
            href="/gruende/verkehrssicherheit"
          >
            Werbeanlagen konkurrieren mit Verkehrsschildern und Ampeln um die
            Aufmerksamkeit der Verkehrsteilnehmer.
          </DetailsCard>
        </div>
        <div class="col13">
          <DetailsCard title="Klima" href="/gruende/klima">
            Digitale Werbeanlagen wie Videomonitore und Mediaboards haben einen
            enormen Ressourcen- und Energieverbrauch.</DetailsCard
          >
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">
        <h3>Werbefrei, aber mit Ausnahmen</h3>

        <p>
          Die klassische Litfaßsäule, aber auch Werbeflächen an Wartehäuschen
          des öffentlichen Personenverkehrs können weiterhin für Werbung genutzt
          werden. Kultur, Sport und Soziales erhalten durch eine Vorgabe zur
          Flächennutzung der Werbeanlagen mehr Aufmerksamkeit.
        </p>

        <h2>Weiterhin zulässige Anlagen:</h2>

        <figure>
          <div class="galerie-wrapper">
            <BildergalerieWp mediaIds={[4379, 4705]} />
          </div>
        </figure>

        <h2>Nicht mehr zulässige Anlagen:</h2>

        <figure>
          <div class="galerie-wrapper">
            <BildergalerieWp
              mediaIds={[
                4383, 4296, 4380, 4381, 4382, 4384, 4385, 4386, 4294, 4388,
                4387,
              ]}
            />
          </div>
        </figure>
      </div>
    </div>

    <div class="section" id="ueberuns">
      <div class="section-content">
        <h3>Über uns</h3>

        <figure>
          <img
            class="direct-full-width-img"
            src="https://wp.hamburg-werbefrei.de/wp-content/uploads/2022/04/DSC9650-1-1024x683.jpg"
            alt="25.4.22 Sammelstart vor dem Rathaus"
            width="100%"
          />
          <figcaption class="img-caption">
            Sammelstart vor dem Rathaus (25.4.2022)
          </figcaption>
        </figure>

        <p>
          Wir sind Hamburger:innen, denen ihre Stadt am Herzen liegt. Uns
          bewegen Themen wie öffentlicher Raum, Architektur, Stadtplanung,
          Verkehrssicherheit und Umweltschutz.
        </p>

        <p>
          Wir agieren unabhängig von Parteien. Unsere Schwester-Initiative ist
          Berlin Werbefrei.
        </p>

        <KoepfeUndZitate />

        <NewsletterComponent />
      </div>
    </div>
  </div>

  <style lang="scss">
    @use '@styles/settings.scss' as settings;
    @use '@styles/basic.scss' as *;

    .img-caption figcaption {
      font-size: 1.6rem;
    }

    .padding-top-desktop {
      @media (min-width: settings.$responsive-max-mobile) {
        padding-top: 8rem;
      }
    }

    .col13 {
      max-width: 100%;
      width: 100%;
      @media (min-width: settings.$responsive-max-mobile) {
        width: 33%;
      }
    }

    .col23 {
      max-width: 100%;
      width: 100%;
      @media (min-width: settings.$responsive-max-mobile) {
        width: 67%;
      }
    }

    .row {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      margin: 0;
      @media (min-width: settings.$responsive-max-mobile) {
        flex-direction: row;
      }
    }

    .splash {
      background-color: settings.$background-color;
    }

    ul.aufklappbare-punkte {
      padding-left: 0;
      li {
        list-style-type: none;
      }
    }

    .moewe-img {
      width: 25%;
      padding: 20px;
      @media (max-width: settings.$responsive-max-mobile) {
        width: 25%;
      }
    }

    .blocksatz {
      text-align: justify;
    }

    .direct-full-width-img {
      width: 100%;
      max-width: 100%;
    }

    .galerie-wrapper {
      width: 100%;
      max-width: 100%;
    }
  </style>
</div>
