---
export interface Props {
  vorherUrl: string;
  nachherUrl: string;
  title?: string;
}

const { vorherUrl, nachherUrl, title } = Astro.props;

// seriously? the framework doesn't offer a way of doing this?
const instanceScope: string = crypto.randomUUID().substring(0, 13);
---

<vorher-nachher
  id={'vorher-nachher-view-' + instanceScope}
  class="vorher-nachher-view"
  data-instance-scope={instanceScope}
>
  <img
    decoding="async"
    src={vorherUrl}
    alt="Vorher"
    class="bild bild-vorher"
    style="clip-path: polygon(0% 0%, calc(50% - 2px) 0%, calc(50% - 2px) 100%, 0% 100%);"
    width="100%"
  /><img
    decoding="async"
    src={nachherUrl}
    alt="Nachher"
    class="bild bild-nachher"
    style="clip-path: polygon(calc(50% + 2px) 0%, calc(50% + 2px) 100%, 100% 100%, 100% 0%);"
    width="100%"
  /><div class="overlay">
    <!-- <div class="vorher-label">vorher</div><div class="nachher-label">
        nachher
      </div>
    </div> -->
    <div class="schieber">
      <span class="schieber-l pfeil"></span><span class="schieber-r pfeil"
      ></span>
    </div>
  </div>

  <figcaption>
    {title}
  </figcaption>
</vorher-nachher>

<script>
  import scope from 'astro:scope';

  let instanceScope;

  class VorherNachher extends HTMLElement {
    get instanceScope() {
      return this.dataset.instanceScope;
    }
    connectedCallback() {
      // console.log(this.instanceScope);
      instanceScope = this.instanceScope;
      if (instanceScope) setupCallbacks(instanceScope);
    }
  }

  customElements.define('vorher-nachher', VorherNachher);

  function setupCallbacks(instanceScope: string) {
    // console.log(
    //   scope,
    //   instanceScope,
    //   document.querySelector<HTMLElement>(
    //     `.schieber[data-astro-cid-${scope}]`,
    //   ),
    // );

    const container = document.querySelector<HTMLElement>(
      // `.vorher-nachher-view[data-astro-cid-${scope}]`,
      `#vorher-nachher-view-${instanceScope}`,
    );
    const schieber = container?.querySelector<HTMLElement>(
      `.schieber[data-astro-cid-${scope}]`,
    );
    const vorher = container?.querySelector<HTMLElement>(
      `.bild-vorher[data-astro-cid-${scope}]`,
    );
    const nachher = container?.querySelector<HTMLElement>(
      `.bild-nachher[data-astro-cid-${scope}]`,
    );

    var dragging = false;
    function dragStart(event: MouseEvent | TouchEvent) {
      dragging = true;
      if (event instanceof MouseEvent)
        container?.addEventListener('mousemove', drag);
      else container?.addEventListener('touchmove', drag);
      event.preventDefault();
    }
    function dragEnd(event: MouseEvent | TouchEvent) {
      dragging = false;
      event.preventDefault();
    }
    window.addEventListener('mouseup', function (event) {
      dragging = false;
    });
    window.addEventListener('touchend', function (event) {
      dragging = false;
    });
    function drag(event: MouseEvent | TouchEvent) {
      event.preventDefault();
      var rect = container?.getBoundingClientRect();
      if (!rect) return;
      if (dragging) {
        const cx =
          event instanceof MouseEvent
            ? event.clientX
            : event.changedTouches[0].clientX;
        const xrelPercent = Math.min(
          100,
          Math.max(0, ((cx - rect.left) / rect.width) * 100),
        );

        if (schieber) schieber.style.left = xrelPercent + '%';
        if (vorher)
          vorher.style.clipPath = `polygon(0% 0%, calc(${xrelPercent}% - 2px) 0%, calc(${xrelPercent}% - 2px) 100%, 0% 100%)`;
        if (nachher)
          nachher.style.clipPath = `polygon(calc(${xrelPercent}% + 2px) 0%, calc(${xrelPercent}% + 2px) 100%, 100% 100%, 100% 0%)`;
      }
    }
    schieber?.addEventListener('mousedown', dragStart);
    schieber?.addEventListener('touchstart', dragStart);
    container?.addEventListener('mouseup', dragEnd);
    container?.addEventListener('touchend', dragEnd);
  }
</script>

<style lang="scss" scoped>
  * {
    box-sizing: content-box;
  }

  .vorher-label {
    left: 1px;
    bottom: 0px;
    max-width: 50%;
    box-sizing: border-box;
    line-height: inherit;
    padding: 4px;
    opacity: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    line-height: 38px;
    padding: 0 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .nachher-label {
  }

  .vorher {
    z-index: 20;
  }

  .nachher {
    z-index: 20;
  }

  .schieber-l {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px;
  }

  .schieber-r {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px;
    top: 50%;
    margin-top: -6px;
  }

  .pfeil {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    border-left-width: 6px;
    border-left-style: inset;
    border-left-color: transparent;
    position: absolute;
  }

  .schieber {
    height: 38px;
    width: 38px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 3px solid white;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    z-index: 40;
    cursor: pointer;
  }

  .bild-vorher {
    position: relative;
    left: 0;
    top: 0;
    max-width: 100%;
    object-fit: scale-down;
  }

  .bild-nachher {
    position: absolute;
    left: 0;
    top: 0;

    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    transition-property: background;
    background: rgba(0, 0, 0, 0);
    z-index: 25;
    width: 100%;
    height: 100%;
  }

  .vorher-nachher-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    -moz-user-select: none;
  }

  figcaption {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    letter-spacing: 0.03125em;
  }
</style>
