---
import Layout from '@layouts/Layout.astro';
import PostContentWp from './PostContentWp.astro';

export interface Props {
  post_id?: string;
  page_id?: string;
  slug?: string;
}

const { post_id, page_id, slug } = Astro.props;

const post_id_number: number | undefined = post_id
  ? parseInt(post_id)
  : undefined;
const page_id_number: number | undefined = page_id
  ? parseInt(page_id)
  : undefined;
---

<Layout>
  <div class="site-content menu-margin-plus">
    <div class="section">
      <div class="section-content">
        <PostContentWp
          postId={post_id_number}
          pageId={page_id_number}
          slug={slug}
          withTitle={false}
        />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;
</style>
