---
import PostContentWp from '@components/homepage/PostContentWp.astro';
import Layout from '@layouts/Layout.astro';

const { category } = Astro.params;

import { WP_URL } from 'astro:env/client';

const getWpCategory = async (categoryname: string) =>
  await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
    query PostsByCat
    {
            posts(where: {categoryName: "${categoryname}"}) {
                nodes {
                    id
                    databaseId
                    title
                }
           }
    }
         
       `,
    }),
  });

const byCatResponse = await getWpCategory(category!);

const hasError = !byCatResponse || byCatResponse?.status === 500;
// console.log(hasError, await byCatResponse.text())

const json = await byCatResponse?.json();
// console.log(json.data.posts)

const contents: { databaseId: number }[] = json.data.posts.nodes;
---

<Layout subtitle={category}>
  <div class="site-content menu-margin-plus">
    <div class="section">
      <div class="section-content">
        {
          contents.map((entry) => (
            <PostContentWp postId={entry.databaseId} withTitle={false} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;
</style>
