---
import { TITLE_REMARK } from 'astro:env/client';
import Briefwahlformular from '@components/phase2/briefwahlformular.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout subtitle="Briefeintragungsunterlagen anfordern">
  <div class="site-content menu-margin-plus">
    <div class="section-content">
      <div class="text-block">
        <h2>
          Anfordern der Briefeintragungsunterlagen für das Volksbegehren
          „Hamburg Werbefrei“{TITLE_REMARK ?? ''}
        </h2>
        <p>Moin Moin!</p>

        <p>
          Hier kannst du schon jetzt die Briefeintragungsunterlagen für unser
          Volksbegehren <a href="https://hamburg-werbefrei.de" target="_blank"
            >„Hamburg Werbefrei“</a
          > beantragen.
        </p>

        <p>
          Wir starten wieder bei null – auch wenn du 2022 schon unterschrieben
          hast, brauchen wir jetzt erneut deine Stimme!
        </p>

        <p>
          Wir leiten deinen Antrag zum Beginn der Briefeintragungsfrist
          (voraussichtlich 2. April 2025) an den Landeswahlleiter weiter. Der
          Versand der Unterlagen erfolgt direkt vom Wahlamt an dich – mitsamt
          eines frankierten Rücksendeumschlags – wie bei einer Briefwahl.
        </p>

        <p>
          Die Unterlagen sind für dich personalisiert, jede Person muss die
          Unterlagen selbst beantragen.
        </p>

        <p>Jede Unterschrift zählt für eine werbefreieres Hamburg!</p>
      </div>
      <Briefwahlformular />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/text-blocks.scss' as *;
  @use '@styles/basic.scss' as *;
</style>
