---
import Layout from '../layouts/Layout.astro';
import SplashContent from '../components/homepage/SplashContent.astro';

const feed = Astro.url.searchParams.get('feed');
if (feed === 'rss' || feed === 'atom') {
  return Astro.redirect(`/redirect-to-wp/?feed=${feed}`);
}

const page_id = Astro.url.searchParams.get('page_id');
if (page_id) {
  return Astro.redirect(`/wp/page/${page_id}`);
}

const post_id = Astro.url.searchParams.get('p');
if (post_id) {
  return Astro.redirect(`/wp/post/${post_id}`);
}
---

<Layout>
  <div class="bg-head-banner"></div>
  <div class="placeholder1 bg-head-banner-superposition" id="placeholder1">
  </div>
  <SplashContent />
</Layout>

<style lang="scss">
  @use '../styles/settings.scss' as settings;
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: settings.$background-color;
    //  var(--background);
  }

  .placeholder1 {
    height: 380px;
    @media (max-width: settings.$responsive-max-mobile) {
      height: 350px;
    }
  }

  .bg-head-banner-superposition {
    background-image: url('https://www.hamburg-werbefrei.de/wp-content/uploads/2022/05/HWF_Visual-B-03.jpg');
    background-position: 0 148px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  div.bg-head-banner {
    display: block;
    margin: 0;

    /* margin-top: 146px; how to compute? */

    max-width: 100%;
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center; */
    background-position: 0px 148px;
    background-repeat: no-repeat;
    background-size: contain; /* cover; */

    background-image: url('https://www.hamburg-werbefrei.de/wp-content/uploads/2022/05/HWF_Visual-A-03.jpg');

    @media (max-width: settings.$responsive-max-mobile) and (orientation: portrait) {
      display: none;
      height: 0px;
      max-height: 0px;
    }
  }

  /* HERE: notification banner for HWF */
  div.notification-banner {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 200;
    color: #000000;
    background-color: #8dc442; /* HWF green */
  }

  div.notification-error {
    background-color: goldenrod;
  }

  body.custom-background {
    background-position: 0px 148px;
  }

  div.entry-content::after {
    height: 1cm;
    width: 100%;
    background-color: #ffffff;
    opacity: 100%;
  }

  .header-inner {
    justify-content: left;
    background-color: #ffffff;
  }

  #site-header {
    background-color: #ffffff;
  }

  body:not(.overlay-header) .primary-menu > li > a {
    color: #000000;
  }

  body:not(.overlay-header) .primary-menu > li > .icon {
    color: #000000;
  }

  .placeholder_title_small {
    height: 150px;
  }

  .placeholder3 {
    height: 150px;
    opacity: 100%;
    background-color: #ffffff;
  }

  main {
    display: block;
  }

  main,
  footer {
    z-index: -5;
  }
  .placeholder2 {
    width: 100%;
    height: 0px;
  }

  .bg-head-banner-superposition {
    background-image: url('https://www.hamburg-werbefrei.de/wp-content/uploads/2022/05/HWF_Visual-B-03.jpg');
    background-position: 0 148px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  /* lower background image */
  .bg-head-banner {
    z-index: -6;
    left: 0px;
    top: 0px;
    background-image: url('https://www.hamburg-werbefrei.de/wp-content/uploads/2022/05/HWF_Visual-A-03.jpg');
    display: block;
    width: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
  }

  div.entry-content {
    background-color: #ffffff;
    opacity: 100%;
    position: relative;
  }

  figure.featured-media::before {
    /* or should it be more like article background? */
    opacity: 0;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;

    background-size: 100%;
  }

  button,
  input[type='submit'] {
    background-color: #8dc442;
  }

  .color-accent,
  a {
    color: black;
  }

  .toggle-text,
  .toggle-inner,
  .mobile-nav-toggle {
    color: black;
    font-weight: bold;
  }

  div.fullwidth-group {
    width: 100%;
  }

  /* unused atm */
  ul.featured-news-list {
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
    width: 100%;
    background: #f7f7f7;
    opacity: 90%;
    margin: 0;
    padding: 4.25%;
  }
  li.featured-news-list {
    display: block;
    max-width: 33%;
    list-style-type: none;
  }

  div.excerpt > a {
    color: #8dc442;
  }

  div.news-excerpt-title {
    padding-bottom: 15px;
    text-decoration: underline;
  }

  .no-entry-bottom > * {
    margin-bottom: 0;
  }

  .footer-widgets a {
    color: #cccccc;
  }
</style>
