---
import Layout from '@layouts/Layout.astro';

import { WP_URL } from 'astro:env/client';

const getPosts = async () => {
  const query = `
    query Posts($first: Int
    $last: Int
    $after: String
    $before: String){
           posts(first: $first, last: $last, after: $after, before: $before) {
                 pageInfo {
        hasNextPage
        hasPreviousPage
        startCursor
        endCursor
      }

             nodes {
               databaseId
               title
               date
               excerpt
             }
           }
        } 
       `;

  return await fetch(WP_URL, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query,
      param: { first: 0 },
    }),
  });
};

const response = await getPosts();
const hasError = !response || response?.status === 500;
const json = await response?.json();

// console.log(json.data.posts.pageInfo)

const posts: {
  databaseId: number;
  title: string;
  date: string;
  excerpt: string;
}[] = json.data.posts.nodes;
---

<Layout subtitle="News">
  <div class="site-content menu-margin-plus">
    <div class="section">
      <div class="section-content">
        <h3>News</h3>
        <p>Neues von Hamburg Werbefrei:</p>
        <div class="post-grid grid">
          <div class="grid-items">
            {
              posts.map((post) => (
                <div class="grid-item">
                  <a href={`/wp/post/${post.databaseId}`}>{post.title}</a>
                  <Fragment set:html={post.excerpt} />
                  <a href={`/wp/post/${post.databaseId}`}>weiterlesen</a>
                  <p>{new Date(post.date).toLocaleDateString('de')}</p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;
  .post-grid {
  }
  .grid-item {
    background-color: #cceee8;
    padding-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
  }
  a {
    color: black;
    font-weight: bold;
  }
</style>
