---
import { TITLE_REMARK } from 'astro:env/client';
import Layout from '@layouts/Layout.astro';
import NewsletterComponent from '@components/homepage/NewsletterComponent.astro';
---

<Layout title={'Hamburg Werbefrei' + (TITLE_REMARK ?? '')}>
  <div class="site-content menu-margin">
    <div class="section-content">
      <h2><a class="back-link" href="/#mitmachen">&larr;</a>Newsletter</h2>
      <div class="text-block">
        <NewsletterComponent />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/text-blocks.scss' as *;
  @use '@styles/basic.scss' as *;
</style>
