---
import { TITLE_REMARK } from 'astro:env/client';
import Erklaertext from '@components/phase2/erklaertext.astro';
import Mitmachenformular from '@components/phase2/mitmachenformular.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout subtitle="Sammler*in werden">
  <div class="site-content menu-margin-plus">
    <div class="section-content">
      <div class="text-block">
        <h2 id="heading" role="heading">
          Anmeldung zweite Sammelphase „Hamburg Werbefrei“{TITLE_REMARK ?? ''}
        </h2>
        <p>Moin Moin!</p>

        <p>
          Die erste Phase der „Volksgesetzgebung“ haben wir geschafft. Im
          Oktober 2022 haben wir über 15.000 Stimmen am Rathaus abgegeben.
        </p>

        <Erklaertext />

        <p>Trage dich gern unverbindlich als Sammler:in ein.</p>

        <p>Jede Unterschrift zählt für eine werbefreieres Hamburg!</p>
      </div>
      <Mitmachenformular />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/text-blocks.scss' as *;
  @use '@styles/basic.scss' as *;
</style>
