---
import Layout from '../layouts/Layout.astro';

import { BASE_URL } from 'astro:env/client';

let shareUriBase = 'http://www.hamburg-werbefrei.de/';

if (import.meta.env.PROD) {
  shareUriBase = BASE_URL;
}

shareUriBase = shareUriBase.replace(/[/]$/, '')

const homeURL = shareUriBase;
const briefURL = `${shareUriBase}/briefeintragung`;

const success = Astro.url.searchParams.get('success') || '';
const successboxTextTrue =
  'Die Eingaben wurden an das Hamburg Werbefrei Team gesendet.';

const successboxTextFalse =
  'Beim Absenden der Eingaben ist leider ein Fehler aufgetreten. Bitte versuche es später noch einmal oder schreib eine Mail an hallo@hamburg-werbefrei.de!';

const successboxClass = `successbox_${success}`;
const successboxText =
  success === 'true'
    ? successboxTextTrue
    : success === 'false'
      ? successboxTextFalse
      : '';
---

<Layout subtitle="Sammler*in werden">
  <main class="site-content menu-margin-plus">
    <div class="section-content">
      <div class="text-container">
        <span class="text-block">
          Vielen Dank für deine Unterstützung! Der Zeitraum für die 2.
          Sammelphase ist vom <strong>23.4.25 bis zum 13.5.25.</strong> Wir freuen
          uns auf dich!
        </span>
        <span class="text-block">
          Falls du es noch nicht getan hast, beantrage jetzt gerne schon einmal
          deine Briefeintragungsunterlagen - und teile den Link in deinem
          Freunde- & Bekanntenkreis:
          <a href={briefURL}>{briefURL}</a>
        </span>

        <div class:list={['text-block', 'successbox', { successboxClass }]}>
          <span id="successmessage">{successboxText}</span>
          <p class="successbox">
            <a href={homeURL}>Zurück zur Hauptseite</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/text-blocks.scss' as *;
  @use '@styles/basic.scss' as *;

  .successbox_invisible {
    visible: false;
  }
  .successbox_true {
    background-color: settings.$general-background-color-light;
  }
  .successbox_false {
    background-color: lightyellow;
  }
</style>
