---
import SharetextBriefeintragung from '../components/phase2/sharetext_briefeintragung.astro';
import Layout from '../layouts/Layout.astro';

import { BASE_URL } from 'astro:env/client';

let shareUriBase = 'http://www.hamburg-werbefrei.de/';

if (import.meta.env.PROD) {
  shareUriBase = BASE_URL;
}

shareUriBase = shareUriBase.replace(/[/]$/, '')

const homeURL = shareUriBase;
const shareURL = `${shareUriBase}/briefeintragung`;
const newsletterURL = `${shareUriBase}/newsletter`;
const mitmachenURL = `${shareUriBase}/sammeln`;
const spendenURL = `${shareUriBase}/spenden`;

const success = Astro.url.searchParams.get('success') || '';
const successboxTextTrue =
  'Die Eingaben wurden an das Hamburg Werbefrei Team gesendet.';

const successboxTextFalse =
  'Beim Absenden der Eingaben ist leider ein Fehler aufgetreten. Bitte versuche es später noch einmal oder schreib eine Mail an hallo@hamburg-werbefrei.de!';

const successboxClass = `successbox_${success}`;
const successboxText =
  success === 'true'
    ? successboxTextTrue
    : success === 'false'
      ? successboxTextFalse
      : '';
---

<Layout subtitle="Briefeintragungsunterlagen anfordern">
  <div class="site-content menu-margin-plus">
    <div class="section-content">
      <div class="text-container">
        <span class="text-block">
          <p><strong>Danke!</strong></p>
          <p>
            Du wirst deine Briefeintragungsunterlagen zu Beginn der
            Briefeintragungsfrist, die am <strong>2. April 2025</strong> beginnt,
            direkt vom Wahlamt zugeschickt bekommen. Du musst sie dann unterzeichnet
            bis zum
            <strong>12. Mai 2025</strong> zurückschicken.
          </p>

          <p>
            <strong
              >Wenn sich in der Zwischenzeit deine Adresse ändert, fülle bitte
              dieses Formular nochmals aus.</strong
            >
          </p>

          <p id="share_briefeintragung" class="share">
            Da die Unterlagen personalisiert sind, <span
              ><strong>teile bitte diesen Link</strong> mit anderen Menschen, damit
              sie sich auch für Briefeintragung anmelden können und wir es gemeinsam
              schaffen:
              <a href={shareURL}>{shareURL}</a>
            </span>
          </p>

          <SharetextBriefeintragung />

          <p>
            Für aktuelle Infos abonniere gerne unseren <strong
              >Newsletter</strong
            >: <a href={newsletterURL}>{newsletterURL}</a>
          </p>

          <p>
            Du möchtest uns auch <strong>aktiv unterstützen</strong>? Sehr
            gerne! Dann melde dich beispielsweise schon mal als Sammler:in für
            die zweite Sammelphase (23.04. – 13.05.2025): <a href={mitmachenURL}
              >{mitmachenURL}</a
            >
          </p>

          <p>
            Wenn du kannst und magst: Hier kannst du Geld für die Initiative
            <strong>spenden</strong>:
            <a href={spendenURL}>{spendenURL}</a>
          </p>
        </span>

        <div class="separator"></div>

        <div class:list={['text-block', 'successbox', { successboxClass }]}>
          <span id="successmessage">{successboxText}</span>
          <p class="successbox">
            <a href={homeURL}>Zurück zur Hauptseite</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  async function copyCode() {
    let text =
      document
        .querySelector('#copyText')
        ?.textContent?.replace(new RegExp('\n', 'g'), '')
        .replace(new RegExp('\\s+', 'g'), ' ') || '';

    await navigator.clipboard.writeText(text);
  }

  async function togglePopup() {
    const popup = document.getElementById('popup');
    if (popup?.classList.contains('hidden')) {
      popup?.classList.remove('hidden');
    } else {
      closePopup();
    }
  }

  async function closePopup() {
    document.getElementById('popup')?.classList.add('hidden');
  }

  document.getElementById('copyButton')?.addEventListener('click', async () => {
    await copyCode();
    await closePopup();
  });

  document
    .getElementById('closeButton')
    ?.addEventListener('click', async () => {
      await closePopup();
    });

  document
    .getElementById('share_briefeintragung')
    ?.addEventListener('click', async () => {
      await togglePopup();
    });
</script>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/text-blocks.scss' as *;
  @use '@styles/basic.scss' as *;

  .hidden {
    visible: false;
  }
  .successbox_invisible {
    visible: false;
  }
  .successbox_true {
  }
  .successbox_false {
    background-color: lightyellow;
  }
  .separator {
    height: 24px;
  }
  .share {
  }
  .share:hover {
    background-color: rgb(215, 255, 215);
    box-shadow: 0 0 20px 5px rgb(215, 255, 215);
  }
</style>
