---
import VorherNachherWp from '@components/homepage/VorherNachherWp.astro';
import Layout from '@layouts/Layout.astro';

// In the absence of this https://github.com/withastro/roadmap/issues/533
// (easy dynamic rendering of components), I'm resorting to re-building the page.

// TODO: move the "main" div into Layout.
---

<Layout subtitle="Vorher / Nachher">
  <div
    id="site-content"
    class="site-content menu-margin"
    role="main"
    class="main"
  >
    <div class="section">
      <div class="section-content">
        <h2>Vorher / Nachher</h2>
        <p>
          Wir haben einige Bilder zusammengestellt, um zu zeigen, wie sich das
          Stadtbild durch das Werberegulierungsgesetz verbessern würde.
        </p>
        <p>
          Um den Unterschied zu sehen, ziehe den Knopf von links nach rechts.
        </p>
        <VorherNachherWp mediaIds={[5893, 5892]} />

        <p>
          Bushaltestellen werden wieder weitgehend werbefrei – z.B. am Mittelweg
          (Dammtor):
        </p>
        <VorherNachherWp mediaIds={[4034, 4033]} />

        <p>
          Litfaßsäulen werden wieder ihrem eigentlichen Zweck zugeführt:
          Kulturwerbung.
        </p>
        <VorherNachherWp mediaIds={[4101, 4100]} />

        <p>
          Digitale Werbedisplays müssen abgebaut werden, z.B. am Jungfernstieg
          und überall dort, wo gerade neue aufgestellt werden sollen:
        </p>
        <VorherNachherWp mediaIds={[4099, 4098]} />

        <p>
          Drehsäulen kommen weg, z.B. beim Eingang zu Planten un Blomen.
          Freistehende Werbeanlagen sind nur noch in Form der klassischen
          Litfaßsäule zulässig.
        </p>
        <VorherNachherWp mediaIds={[4032, 4031]} />

        <p>am Hauptbahnhof / Mönckebergstraße,</p>
        <VorherNachherWp mediaIds={[4035, 4027]} />

        <p>nahe Neue Flora / Holstenstraße,</p>
        <VorherNachherWp mediaIds={[4030, 4029]} />

        <p>an der U-Bahn-Station Feldstraße</p>
        <VorherNachherWp mediaIds={[5740, 5741]} />

        <p>bei den Messehallen,</p>
        <VorherNachherWp mediaIds={[4109, 4110]} />

        <p>
          und überall dort, wo sie in den öffentlichen Verkehrsraum
          hineinwirken, z.B. am Bahnhof Dammtor:
        </p>
        <VorherNachherWp mediaIds={[4026, 4025]} />

        <p>
          und überall dort, wo sie die Aufmerksamheit ablenken, z. B. in
          unmittelbarer Nähe zu Fußgängerüberwegen!
        </p>
        <VorherNachherWp mediaIds={[5738, 5739]} />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '@styles/basic.scss' as *;
</style>
