---
import ImgGridWp from '@components/homepage/ImgGridWp.astro';
import PostContentWp from '@components/homepage/PostContentWp.astro';

// Zitate in Wordpress auf eigener Seite pflegen und hier einfach nur abholen.
---

<div style="padding:0 8px 8px 0;margin:0 auto;">
  <ImgGridWp
    mediaIds={[4501, 4500, 4502, 5337, 5338, 5355, 5385]}
    imgHeight="260px"
  />
</div>
<PostContentWp pageId={5938} />

<div style="padding:0 8px 8px 0;margin:0 auto;">
  <ImgGridWp mediaIds={[5397]} imgHeight="260px" />
</div>
<PostContentWp pageId={5946} />
