---
import {
  siMastodon,
  siTwitter,
  siInstagram,
  siFacebook,
} from 'simple-icons/icons';
---

<div class="socials">
  <h2>Folge uns</h2>
  <ul>
    <li>
      <a
        href="https://bewegung.social/web/@hhwerbefrei"
        target="_blank"
        rel="noreferrer"
        ><div class="icon" set:html={siMastodon.svg} />
        <strong>Mastodon</strong></a
      >
    </li>
    <li>
      <a
        href="https://bsky.app/profile/hhwerbefrei.bsky.social"
        target="_blank"
        rel="noreferrer"
        ><div class="icon" set:html={siTwitter.svg} /> Bluesky</a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/hamburgwerbefrei/"
        target="_blank"
        rel="noreferrer"
        ><div class="icon" set:html={siInstagram.svg} /> Instagram</a
      >
    </li>
    <li>
      <a
        href="https://www.facebook.com/HamburgWerbefrei/"
        target="_blank"
        rel="noreferrer"
        ><div class="icon" set:html={siFacebook.svg} /> Facebook</a
      >
    </li>
  </ul>
</div>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;

  .socials {
    flex-shrink: 0;
    grid-area: soci;
    margin-right: calc(2 * var(--padding));
    padding-top: 1rem;

    * {
      color: white;
    }

    h3 {
      font-weight: 600;
    }

    h2 {
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      max-width: 100%;

      @media screen and (max-width: settings.$responsive-max-mobile) {
        flex-direction: column;
      }
      li {
        list-style-type: none;

        a {
          display: flex;
          align-items: center;
          padding-top: 0;
          padding-bottom: var(--padding-half);

          .icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }
      }
    }
  }
</style>
