---
import Supporters from './Supporters.astro';
import FolgeUns from './FolgeUns.astro';
---

<footer class="footer">
  <FolgeUns />
  <Supporters />
  <div class="copyright">
    &copy; {new Date().getFullYear()}
    <a href="https://demo.ef.uber.space/pacman/" target="_blank"
      >Hamburg Werbefrei</a
    > | <a href="/privacy-policy-2/">Datenschutz</a> | <a href="/impressum-2/"
      >Impressum</a
    >
  </div>
</footer>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;

  .footer {
    background-color: settings.$general-background-color-even-darker;
    * {
      color: white;
    }
  }

  footer {
    padding: var(--padding);
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
      'soci supp'
      'copr copr';

    margin: 0 auto;
    max-width: 100%;
    width: 100%;

    @media (max-width: settings.$responsive-max-mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

      grid-template-areas:
        'soci'
        'supp'
        'copr';
    }
  }

  .copyright {
    grid-area: copr;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
</style>
