---
import Wartungstext from '@components/wartungstext.astro';
import Navigation from '../components/Navigation.astro';
import '@fontsource/nunito-sans';
import '@fontsource/nunito-sans/800.css';
import Footer from '@layouts/Footer.astro';
import { TITLE_REMARK } from 'astro:env/client';

export interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
const defaultTitle = 'Hamburg Werbefrei' + (TITLE_REMARK ?? '');

const success = Astro.url.searchParams.get('success') || '';
const successboxTextTrue =
  'Die Eingaben wurden an das Hamburg Werbefrei Team gesendet.';

const successboxTextFalse =
  'Beim Absenden der Eingaben ist leider ein Fehler aufgetreten. Bitte versuche es später noch einmal oder schreib eine Mail an hallo@hamburg-werbefrei.de!';

const successMessageVisible = ['true', 'false'].includes(success);
const successboxText =
  success === 'true'
    ? successboxTextTrue
    : success === 'false'
      ? successboxTextFalse
      : '';
const successboxClass = `successbox_${success}`;
---

<script>
  // remove any query parameters
  if (window.location.search) {
    window.history.pushState({}, document.title, window.location.pathname);
  }
  document.querySelector('.successbox-toast')?.addEventListener('click', () => {
    document
      .getElementById('successbox')!
      .classList.add('successbox_invisible');
  });
</script>

<html lang="de-DE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? defaultTitle}{subtitle ? ` | ${subtitle}` : ''}</title>
  </head>
  <body>
    <Navigation class="nav-bar" />
    <div
      id="successbox"
      class:list={[
        'text-block',
        successMessageVisible ? '' : 'successbox_invisible',
        'successbox-toast',
        successboxClass,
        'successbox',
      ]}
    >
      <span id="successmessage">{successboxText}</span>
    </div>
    <Wartungstext />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/non-wordpress.scss' as *;

  .nav-bar {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    top: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }

  body > .main {
    margin-top: settings.$menu-bar-height-desktop;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }

  body > * {
    flex-shrink: 0;
  }

  * {
    box-sizing: border-box;
  }

  :root {
    --accent: #252525;
    --color: black;
    --padding: 10px;
    --padding-half: 10px;
    --shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
  }

  html {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
    color: var(--color);
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a {
    color: var(--accent);
    text-decoration: underline dotted currentColor;
  }

  // .text-block {
  //   position: absolute;
  //   top: settings.$menu-bar-height-desktop;
  //   padding: var(--padding);
  //   box-shadow: var(--shadow);
  // }
  .successbox {
    display: flex;
    width: 100%;
    margin-top: settings.$menu-bar-height;
  }
  .successbox_invisible {
    visibility: hidden;
    height: 0;
    display: none;
  }
  .successbox_true {
    background-color: lightgreen;
  }
  .successbox_false {
    background-color: lightcoral;
  }
</style>
