---
import BundLogo from '../assets/supporters/svg/BUND_farbe_kein_Rand.svg';
import LinkeLogo from '../assets/supporters/svg/Linke_farbe_kein_Rand.svg';
import VCDLogo from '../assets/supporters/svg/VCD_farbe_kein_Rand.svg';
import OEDPLogo from '../assets/supporters/svg/ödp_farbe_kein_Rand.svg';
import FUSSLogo from '../assets/supporters/svg/fuss_farbe_kein_Rand.svg';
import AttacLogo from '../assets/supporters/svg/attac_farbe_kein_Rand.svg';
import ADFCLogo from '../assets/supporters/svg/adfc_farbe_kein_Rand.svg';
import AStATUHHLogo from '../assets/supporters/svg/Asta_farbe_kein_Rand.svg';
import ProInklusionLogo from '../assets/supporters/svg/inklusion_farbe_kein_Rand.svg';
import BewegungsstiftungLogo from '../assets/supporters/svg/BewegungsStiftung_farbe_kein_Rand.svg';
---

<div class="supporters">
  <h2>Das Volksbegehren wird unterstützt von</h2>
  <div class="supporter-grid">
    {
      [
        { src: VCDLogo.src, title: 'VCD Landesverband Nord' },
        { src: BundLogo.src, title: 'BUND (Friends of the Earth Germany)' },
        { src: LinkeLogo.src, title: 'Die Linke Landesverband Hamburg' },
        { src: OEDPLogo.src, title: 'ÖDP Landesverband Hamburg' },
        { src: FUSSLogo.src, title: 'Fachverband Fußverkehr Deutschland' },
        { src: AttacLogo.src, title: 'Attac Hamburg' },
        { src: ADFCLogo.src, title: 'Allgemeiner Deutscher Fahrrad-Club' },
        { src: ProInklusionLogo.src, title: 'Pro Inklusion Hamburg' },
        { src: BewegungsstiftungLogo.src, title: 'Bewegungsstiftung' },
        { src: AStATUHHLogo.src, title: 'AStA der TUHH' },
      ].map(({ src, title }) => (
        <div class="logo-block">
          <img class="fit" src={src} alt={'Logo von ' + title} />
          <figcaption class="logo-title">{title}</figcaption>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  @use '@styles/settings.scss' as settings;
  @use '@styles/basic.scss' as *;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .supporters {
    grid-area: supp;
    max-width: var(settings.$content-max-width);

    * {
      color: white;
    }

    h3 {
      font-weight: 600;
    }

    h2 {
      font-weight: 600;
    }

    .logo-title {
      color: white;
      padding-top: 0.2rem;
      line-height: 0.9rem;
    }

    .logo-block {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      * {
        position: relative;
        left: 0;
      }
    }
    .supporter-grid {
      display: grid;
      margin-top: calc(2 * var(--padding));
      padding-right: var(--padding);
      max-width: 100%;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 150px);
      gap: var(--padding);

      @media (max-width: settings.$responsive-max-mobile) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 150px);
      }

      @media (min-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 150px);
      }

      .logo-title {
        color: --accent;
        font-size: smaller;
        font-weight: bolder;
        margin-bottom: 0.5rem;
      }
      > * {
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        padding: var(--padding);
        max-width: 100%;

        img {
          background-color: white;
          max-height: 90px;
          object-fit: contain;
          max-width: 100%;
          width: 100%;
        }
        img.fit {
          padding: 10px;
          width: calc(100% - 2 * 10px);
        }
      }
    }
  }
</style>
