---
let uriBase = 'http://localhost:4321/';
let middlewareUriBase = 'http://localhost:3001/';

import { API_BASE_URL, BASE_URL } from 'astro:env/client';
import Hinweistext from './hinweistext.astro';

if (import.meta.env.PROD) {
  uriBase = BASE_URL;
  middlewareUriBase = API_BASE_URL;
}

const formRedirect = `${uriBase}success_briefwahl`;
const formAction = `${middlewareUriBase}briefeintragung/send?redirect=${encodeURI(
  formRedirect,
)}`;
---

<div class="outer">
  <form action={formAction} method="post" class="form">
    <div>
      <label for="vorname">Vorname</label>
      <input
        type="text"
        name="vorname"
        id="vorname"
        value=""
        required="true"
        aria-required="true"
        minlength="0"
        placeholder=""
      />
    </div>
    <div>
      <label for="nachname">Nachname</label>
      <input
        type="text"
        name="nachname"
        id="nachname"
        value=""
        required="true"
        aria-required="true"
        minlength="0"
        placeholder=""
      />
    </div>
    <div>
      <label for="strassenr">Straße, Hausnummer</label>
      <input
        type="text"
        name="strassenr"
        id="strassenr"
        value=""
        required="true"
        aria-required="true"
        minlength="0"
        placeholder=""
      />
    </div>
    <div>
      <label for="plz">PLZ</label>
      <input
        type="text"
        name="plz"
        id="plz"
        value=""
        required="true"
        aria-required="true"
        minlength="0"
        placeholder=""
      />
    </div>
    <div>
      <span>Wohnort <strong>Hamburg</strong></span>
    </div>
    <div>
      <label for="email">E-Mail (optional, für Newsletter)</label>
      <input
        type="email"
        name="email"
        id="email"
        value=""
        minlength="0"
        placeholder=""
      />
    </div>
    <div>
      <label for="beantragung"
        ><input
          type="checkbox"
          name="beantragung"
          id="beantragung"
          value="true"
          required="true"
          aria-required="true"
        />
        Ich beantrage hiermit die Briefeintragung nach § 13 VAbstG für das Volksbegehren
        „Hamburg Werbefrei“. Ich beauftrage den Verein Public Spaces e.V., meinen
        Antrag als Bote an die zuständige Stelle weiterzuleiten.
      </label>
    </div>
    <div>
      <label for="datenschutz">
        <input
          type="checkbox"
          name="datenschutz"
          id="datenschutz"
          value="true"
          required="true"
          aria-required="true"
        />
        Ich akzeptiere die <a
          href="https://www.hamburg-werbefrei.de/privacy-policy-2"
          >Datenschutzerklärung</a
        >.
      </label>
    </div>
    <details>
      <summary><strong>Hinweis</strong></summary>
      <Hinweistext />
    </details>
    <div>
      <button id="absenden" type="submit" tabindex="">Absenden</button>
    </div>
  </form>
</div>

<script>
  function checkAddress() {
    const constraintTextPlz = 'Postleitzahl muss zu Hamburg gehören';
    const constraintPlz = new RegExp('^\\s*2[012]\\d{3}\\s*$');

    const plzField = document.getElementById('plz') as HTMLInputElement;

    if (constraintPlz.test(plzField.value)) {
      plzField.setCustomValidity('');
    } else {
      plzField.setCustomValidity(constraintTextPlz);
    }
  }
  window.onload = () => {
    const plzField = document.getElementById('plz') as HTMLInputElement;
    if (plzField) {
      plzField.oninput = checkAddress;
    }
  };
</script>

<style lang="scss">
  @use '@styles/formulare.scss' as *;
  @use '@styles/basic.scss' as *;
  @use '@styles/text-blocks.scss' as *;
</style>
