---

---

<p>
  <a
    href="https://www.hamburgisches-verfassungsgericht.de/presse/volksbegehren-hamburg-werbefrei-ist-ueberwiegend-durchzufuehren"
    >Das Landesverfassungsgericht hat unseren Gesetzentwurf geprüft und im
    Wesentlichen zugelassen</a
  > und damit den Antrag des Senats auf Nichtdurchführung abgewiesen. Damit ist der
  Weg frei für das Volksbegehren. Das erneute Unterschriftensammeln wird vom <strong
    >23. April 2025 bis zum 13. Mai 2025</strong
  > stattfinden.
</p>

<style lang="scss">
  @use '@styles/basic.scss' as *;
  a {
    color: black;
    font-weight: bold;
  }
</style>
