---

---

<p>
  Am Volksbegehren "Hamburg Werbefrei" dürfen alle deutschen Staatsangehörigen
  teilnehmen, die am Tage des Ablaufs der Eintragungsfrist (13. Mai 2025) das
  16. Lebensjahr vollendet haben und seit mindestens drei Monaten in Hamburg
  wohnen.
</p>

<p>
  Du hast hier die Möglichkeit, die Briefeintragungsunterlagen für das
  Volksbegehren "Hamburg Werbefrei" zu beantragen (§ 13 Hamburgisches
  Volksabstimmungsgesetz). Dabei werden die erforderlichen Daten erhoben und zu
  Beginn der Briefeintragungsfrist (voraussichtlich 2. April 2025) an das
  Landeswahlamt Hamburg übermittelt. Wir fungieren dabei als Bote für deinen
  Antrag auf Briefeintragung an das Landeswahlamt Hamburg. Die Daten werden
  sicher und verschlüsselt gespeichert. Sobald wir deinen Antrag an den
  Hamburger Landeswahlleiter übermittelt haben, werden deine Daten vollständig
  gelöscht.
</p>

<p>
  <strong
    >Sollte sich zwischenzeitlich deine Adresse ändern, trage dich bitte erneut
    ein.</strong
  >
</p>

<p>
  Du erhältst dann vom Landeswahlamt Hamburg die Briefeintragungsunterlagen
  (analog zur Briefwahl). Die Eintragung per Brief muss dem Landeswahlamt bis
  zum Ende der Eintragungsfrist (13. Mai 2025) vorliegen.
</p>

<p>
  Bei Eintragung für den Newsletter wird deine E-Mail Adresse auch nach dem
  Volksbegehren weiterhin gespeichert, um dich weiter über "Hamburg Werbefrei"
  informieren zu können. Von diesem Newsletter kannst du dich jederzeit
  abmelden.
</p>
