---
import { API_BASE_URL, BASE_URL } from 'astro:env/client';

let uriBase = 'http://localhost:4321/';
let middlewareUriBase = 'http://localhost:3001/';

if (import.meta.env.PROD) {
  uriBase = BASE_URL;
  middlewareUriBase = API_BASE_URL;
}

const formRedirect = `${uriBase}success`;
const formAction = `${middlewareUriBase}submit/send?redirect=${encodeURI(
  formRedirect,
)}`;
---

<div class="outer">
  <form action={formAction} method="post" class="form">
    <div>
      <label for="name"
        >Vor- und Nachname (Phantasiename geht auch oder Name einer Gruppe) <abbr
          title="erforderlich">*</abbr
        >
      </label>
      <input
        type="text"
        name="name"
        id="name"
        value=""
        required="true"
        aria-required="true"
        minlength="0"
        placeholder="Maxine Musterfrau"
      />
    </div>
    <div>
      <label for="email"
        >E-Mail-Adresse <abbr title="erforderlich">*</abbr>
      </label>
      <input
        type="email"
        name="email"
        id="email"
        value=""
        required="true"
        aria-required="true"
        placeholder="maxine.musterfrau@mail.tld"
      />
      <p>
        Wir werden dich per E-Mail über den Sammelstart und wichtige Termine
        informieren.
      </p>
    </div>
    <div>
      <p class="infoBox">
        Die folgenden Felder sind optional, helfen uns aber die Sammelphase
        besser zu koordinieren.
      </p>
    </div>
    <div>
      <span class="label">E-Mail-Newsletter abonnieren</span>
      <fieldset>
        <div>
          <input
            tabindex=""
            id="radio-newsletter-1-0"
            type="radio"
            value="Ja"
            name="newsletter"
          />
          <label for="radio-newsletter-1-0">Ja</label>
        </div>
        <div class="form-radio">
          <input
            tabindex=""
            id="radio-newsletter-1-1"
            type="radio"
            value="Nein"
            name="newsletter"
          />
          <label for="radio-newsletter-1-1">Nein</label>
        </div>
      </fieldset>
    </div><div>
      <span class="label"
        >Bitte ladet mich zusätzlich in die allgemeine Hamburg Werbefrei
        Austausch Signal-Gruppe ein (Messenger Gruppe zum direkten Austausch)</span
      >
      <fieldset>
        <div>
          <input
            tabindex=""
            id="radio-signal-1-0"
            type="radio"
            value="Ja"
            name="signal"
          />
          <label for="radio-signal-1-0">Ja</label>
        </div>
        <div class="form-radio">
          <input
            tabindex=""
            id="radio-signal-1-1"
            type="radio"
            value="Nein"
            name="signal"
          />
          <label for="radio-signal-1-1">Nein</label>
        </div>
      </fieldset>
    </div>
    <div>
      <span class="label"
        >Ich komme zu einem der nächsten <a
          href="https://www.hamburg-werbefrei.de/uncategorized/termine/"
          >allgemeinen Hamburg Werbefrei Treffen</a
        >, um uns für die nächsten Monate aufzustellen.</span
      >
      <fieldset>
        <div>
          <input
            tabindex=""
            id="radio-zum_naechsten_treffen-1-0"
            type="radio"
            value="Ja"
            name="zum_naechsten_treffen"
          />
          <label for="radio-zum_naechsten_treffen-1-0">Ja</label>
        </div>
        <div class="form-radio">
          <input
            tabindex=""
            id="radio-zum_naechsten_treffen-1-1"
            type="radio"
            value="Nein"
            name="zum_naechsten_treffen"
          />
          <label for="radio-zum_naechsten_treffen-1-1">Nein</label>
        </div>
      </fieldset>
    </div>
    <div>
      <label for="phone">Mobiltelefon</label>
      <input
        type="tel"
        name="phone"
        id="phone"
        value=""
        placeholder="+49 XXX XXXXXXXX"
      />
    </div>
    <div>
      <label for="stadtteil">
        In welchem Stadtteil wohnst du – wäre dies auch der Ort, wo du sammeln
        möchtest? Wir möchten Kiezteams aufbauen und können dich hiermit in eine
        lokale Gruppe einordnen
      </label>
      <textarea
        cols="40"
        minlength="0"
        rows="4"
        tabindex=""
        id="stadtteil"
        name="stadtteil"
        placeholder="z.B. Ich wohne in Eppendorf, würde aber gerne in Altona sammeln"
      ></textarea>
    </div>
    <div>
      <label for="anwerben">
        Kannst du dir vorstellen, andere Leute in deinem Umfeld anzuwerben mit
        zu sammeln?
      </label>
      <textarea
        cols="40"
        minlength="0"
        rows="4"
        tabindex=""
        id="anwerben"
        name="anwerben"
        class="form-input"
        placeholder="z.B. Ich kenne etwa 4 Leute aus einem Hackerspace, die ich vielleicht überzeugen könnte"
      ></textarea>
    </div><div>
      <label for="erfahrung"
        >Hast du schon Erfahrung damit, Unterschriften zu sammeln? Hast du
        eventuell Connections?
      </label>
      <textarea
        cols="40"
        minlength="0"
        rows="4"
        tabindex=""
        id="erfahrung"
        name="erfahrung"
        class="form-input"
        placeholder="z.B. Ich habe schon mal für [anderes Projekt] gesammelt"
      ></textarea>
    </div><div>
      <label for="zeitumfang">
        Hast du eine Vorstellung davon, wie viele Unterschriften du sammeln
        kannst oder an wie vielen Tagen/Stunden du im drei Wochen Zeitraum für
        das Sammeln aufbringen kannst?
      </label>
      <textarea
        cols="40"
        minlength="0"
        rows="4"
        tabindex=""
        id="zeitumfang"
        name="zeitumfang"
        class="form-input"
        placeholder="z.B. Zwei Tage je drei Stunden"></textarea>
    </div>
    <div>
      <label for="nachricht">Deine (optionale) Nachricht an uns</label>
      <textarea
        cols="40"
        minlength="0"
        rows="4"
        tabindex=""
        id="nachricht"
        name="nachricht"
        placeholder="Dein Text hier..."></textarea>
    </div>
    <div>
      <button id="absenden" type="submit" tabindex="">Absenden</button>
    </div>
  </form>
</div>

<style lang="scss">
  @use '@styles/formulare.scss' as *;
</style>
