---
import { API_BASE_URL, BASE_URL } from 'astro:env/client';

let shareUriBase = 'http://www.hamburg-werbefrei.de/';

if (import.meta.env.PROD) {
  shareUriBase = BASE_URL;
}

const shareURL = `${BASE_URL}briefeintragung`;
---

<div
  id="popup"
  class:list={['hidden', 'copyable', 'popup-inline', 'text-container']}
>
  <p id="copyText">
    Moin, ich habe gerade die Briefeintragung beim Volksbegehren Hamburg
    Werbefrei beantragt!<br /><br /> Trägst du dich auch ein? Hier ist der Link:
    {shareURL}
  </p>
  <span id="copyButton" class="copy-button">Text kopieren</span>
</div>

<style>
  .text-container {
    padding: var(--padding);
    display: flex;
    flex-direction: column;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }
  .text-block {
    padding: var(--padding);
    box-shadow: var(--shadow);
  }
  .hidden {
    visibility: hidden;
    display: none;
  }
  .copyable {
    padding: var(--padding);
    box-shadow: var(--shadow);
  }
  .popup-inline {
  }
  .popup-inline:hover {
    background-color: rgb(215, 255, 215);
    box-shadow: var(--shadow);
  }

  .copy-button {
    background-color: lightgray;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
  }
  .copy-button:hover {
    background-color: lightgreen;
  }
  .close-button {
    background-color: lightgray;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;

    text-align: center;
  }
  .close-button:hover {
    background-color: lightgreen;
  }
</style>
