---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <slot />
  </a>
</div>

<style lang="scss">
  @use '../styles/settings.scss' as settings;

  .link-card {
    height: 100%;
    list-style: none;
    display: flex;
    /* padding: 0.15rem; */
    border-width: 0;
    background-color: rgb(0, 168, 142);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  a:hover {
    cursor: pointer;
  }

  .link-card > a {
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: settings.$text-color;
    background-color: settings.$background-color;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #444;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
