---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="details-card">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <slot />
    <span>&rarr;</span>
  </a>
</div>

<style>
  .details-card {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    /* padding: 0.15rem; */
    border-width: 0;
    background-color: rgb(0, 168, 142);
    /* background-image: var(--accent-gradient); */
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    /* box-shadow: rgba(229, 232, 123, 0.2) 0px 7px 27px 0px; */
  }

  a:hover {
    cursor: pointer;
  }

  .details-card > a {
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #444;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
