---
import Logo from '../assets/HamburgWerbefrei.svg';
import SiteMenu from './SiteMenu.astro';
import SiteMenuMobile from './SiteMenuMobile.astro';
---

<script is:inline>
  function toggleMobileMenu() {
    const menuWrapper = document.querySelector('#site-menu-mobile');
    menuWrapper?.classList.toggle('menu-open');
    window.scrollTo(0, 0);
  }
</script>

<nav class="nav">
  <div class="site-menu">
    <a href="/" class="logo" id="navigation" title="Hamburg Werbefrei">
      <img src={Logo.src} class="logo-img" alt="Hamburg Werbefrei Logo" />
    </a>
    <SiteMenu />
  </div>

  <div id="site-menu-bar-mobile" class="site-menu-bar-mobile">
    <a href="/" class="logo" id="navigation" title="Hamburg Werbefrei">
      <img src={Logo.src} class="logo-img" alt="Hamburg Werbefrei Logo" />
    </a>

    <button
      id="menu-button"
      class="nav-toggle"
      aria-expanded="false"
      onclick="toggleMobileMenu()"
    >
      <span class="toggle-inner">
        <span class="menu-label">Menü</span>
        <span class="toggle-icon">
          <svg
            width="40px"
            height="40px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 18L20 18"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"></path>
            <path
              d="M4 12L20 12"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"></path>
            <path
              d="M4 6L20 6"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </span>
      </span>
    </button>
  </div>
  <div id="site-menu-mobile" class="site-menu-mobile">
    <SiteMenuMobile />
  </div>
</nav>

<style lang="scss">
  @use '../styles/settings.scss' as settings;

  .nav {
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    height: settings.$menu-bar-height;
    max-width: 100%;
    background-color: settings.$background-color;
    z-index: 999;
  }

  .site-menu-bar-mobile {
    display: none;
    height: 0;
    visibility: hidden;
  }
  .site-menu-mobile {
    display: none;
    height: 0;
    visibility: hidden;
  }
  .site-menu {
    position: relative;
    top: 0;
    visibility: visible;
    display: flex;
    max-width: 100%;
    width: 100%;
    background-color: settings.$background-color;
  }

  .nav-toggle {
    visibility: hidden;
    display: none;
  }

  .logo-img {
    height: 80px;
    left: 0;
    position: fixed;
    padding: var(--padding);
  }

  @media (max-width: settings.$responsive-max-mobile) {
    .site-menu-bar-mobile {
      visibility: visible;
      height: settings.$menu-bar-height;
      display: flex;
      max-width: 100%;
      width: 100%;
    }
    .site-menu-mobile:not(.menu-open) {
      display: none;
      height: 0;
      visibility: hidden;
    }
    .site-menu-mobile.menu-open {
      visibility: visible;
      max-width: 100%;
      align-items: center;
      display: flex;
      scroll-behavior: smooth;
      height: fit-content;
      margin-right: 20px;
      height: 100vh;
      overflow-y: auto;
      width: 100%;
      background: #fff;
      transition:
        height ease 0.3s 0.3s,
        display 0.3s allow-discrete;
      z-index: 500;
    }
    .site-menu {
      display: none;
      height: 0;
      visibility: hidden;
    }

    .logo {
      width: 80px;
      height: 80px;
    }

    .logo-img {
      height: 66px;
      width: 66px;
      left: 0;
      position: fixed;
      padding: var(--padding);
    }

    .nav-toggle {
      width: 80px;
      height: 80px;
      visibility: visible;
      display: inline-block;

      border: 0;
      background: none;
      -webkit-appearance: none;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      width: 6.6rem;
    }

    .nav {
      max-width: 100%;
      width: 100%;
    }
  }

  .toggle-inner {
    display: flex;
    flex-direction: column;
  }

  .menu-label {
    font-size: smaller;
    color: #202020;
  }

  .toggle-icon {
    width: 100%;
  }
</style>
