---
import { getMenuData, menuItemHasChildren } from '../data/menucontents.ts';

const menu_data = getMenuData(
  Astro.site ?? new URL(`${Astro.url.protocol}${Astro.url.host}`),
);
---

<nav
  id="primary-menu-wrapper-mobile"
  class="primary-menu-wrapper-mobile"
  aria-label="Horizontal"
  role="navigation"
>
  <ul class="primary-menu">
    {
      menu_data
        .filter((item) => item.menu_item_parent === '0')
        .map((item) => (
          <li
            class:list={[
              'menu-item',
              ...(menuItemHasChildren(menu_data, item.db_id)
                ? ['menu-item-has-children']
                : []),
            ]}
          >
            <div class="item-as-row" id={`menu-row-${item.db_id}`}>
              <span class="item-title">
                <a class="item-link" href={item.link}>
                  {item.title}
                </a>
              </span>

              <span
                id={`icon-span-${item.db_id}`}
                class="icon-span"
                tabindex="0"
                style={
                  menuItemHasChildren(menu_data, item.db_id)
                    ? ' '
                    : 'display:none'
                }
              >
                ➜
              </span>
            </div>

            <ul class="sub-menu sub-menu-closed" id={'sub-menu-' + item.db_id}>
              {menu_data
                .filter(
                  (inner_item) =>
                    inner_item.menu_item_parent === item.db_id.toString(),
                )
                .map((inner_item) => (
                  <li class="menu-item">
                    <a href={inner_item.link}>{inner_item.title}</a>
                  </li>
                ))}
            </ul>
          </li>
        ))
    }
  </ul>
</nav>

<script>
  import { getMenuData, menuItemHasChildren } from 'data/menucontents';

  function toggleSubmenu(submenuId: string) {
    const submenu = document.getElementById(submenuId);
    // console.log(submenu);
    submenu?.classList.toggle('sub-menu-closed');
  }

  const menu_data = getMenuData(new URL(window.location.href));

  menu_data.forEach((item) => {
    if (menuItemHasChildren(menu_data, item.db_id)) {
      const button = document.getElementById(`icon-span-${item.db_id}`);
      if (button) {
        button.onclick = () => {
          toggleSubmenu(`sub-menu-${item.db_id}`);
        };

        button.onkeyup = (event) => {
          if (event.key !== 'Tab') {
            toggleSubmenu(`sub-menu-${item.db_id}`);
          }
        };
      }
    }
  });
</script>

<style lang="scss">
  @use '@styles/settings.scss' as settings;

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    width: 100%;
    margin-right: 20px;
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }

  /* sub-menu items */
  li ul li {
    background: #888888;
  }

  li.menu-item {
    display: inline-block;
    width: 100%;
    background-color: rgb(102, 102, 102);

    margin: 0 0.25em;
    border-color: #666666;
  }

  .primary-menu-wrapper-mobile {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    visibility: visible;
  }

  ul.primary-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    background: #666666;
  }

  li a {
    display: block;
    padding-left: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-decoration: none;
    text-align: left;
    font-size: 1.4rem;
  }

  li > ul > li {
    // padding-left: 5em;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  $aufklapp-icon-width: 80px;

  .icon-span {
    color: white;
    width: $aufklapp-icon-width;
    font-size: 32pt;

    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: fit-content;
    padding: 0;

    border-left: white 2px;
    background-color: #909090;
  }

  .item-as-row {
    max-width: 100%;
    display: flex;
  }

  menu-item-has-children .item-title {
    color: beige;
    width: calc(100vw - $aufklapp-icon-width);
  }

  .item-title {
    width: 100vw;
  }

  .item-link {
    width: 100%;
  }

  .sub-menu-closed {
    visibility: hidden;
    height: 0;
  }
</style>
