---
import { getMenuData, menuItemHasChildren } from '../data/menucontents.ts';

const menu_data = getMenuData(
  Astro.site ?? new URL(`${Astro.url.protocol}${Astro.url.host}`),
);
---

<nav
  id="primary-menu-wrapper"
  class="primary-menu-wrapper"
  aria-label="Horizontal"
  role="navigation"
>
  <ul class="primary-menu reset-list-style">
    {
      menu_data
        .filter((item) => item.menu_item_parent === '0')
        .map((item) => (
          <li
            class:list={[
              'menu-item',
              ...(menuItemHasChildren(menu_data, item.db_id)
                ? ['menu-item-has-children']
                : []),
            ]}
          >
            <a href={item.link}>{item.title}</a>
            <span
              class="icon"
              style={
                menuItemHasChildren(menu_data, item.db_id)
                  ? ' '
                  : 'display:none'
              }
            />
            <ul class="sub-menu">
              {menu_data
                .filter(
                  (inner_item) =>
                    inner_item.menu_item_parent === item.db_id.toString(),
                )
                .map((inner_item) => (
                  <li class="menu-item">
                    <a href={inner_item.link}>{inner_item.title}</a>
                  </li>
                ))}
            </ul>
          </li>
        ))
    }
  </ul>
</nav>

<style lang="scss">
  @use '../styles/settings.scss' as settings;

  /* Relevant parts of Wordpress twentytwenty theme copied to make the menu look similar */
  a {
    color: #8dc442;
    text-decoration: underline;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  ul,
  ol {
    margin: 0 0 3rem 3rem;
  }

  li {
    line-height: 1.5;
    margin: 0.5rem 0 0 2rem;
  }

  li > ul,
  li > ol {
    margin: 1rem 0 0 2rem;
  }

  .reset-list-style,
  .reset-list-style ul,
  .reset-list-style ol {
    list-style: none;
    margin: 0;
  }

  .reset-list-style li {
    margin: 0;
  }

  html,
  body {
    border: none;
    margin: 0;
    padding: 0;
  }

  blockquote::before,
  blockquote::after {
    content: '';
  }

  .primary-menu-wrapper {
    position: absolute;
    left: 100px;
    align-items: center;
    top: 0;
    display: flex;
    scroll-behavior: smooth;
    height: settings.$menu-bar-height-desktop;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
  }

  #site-content {
    overflow: hidden;
  }

  .group::after,
  .entry-content::after {
    clear: both;
    content: '';
    display: block;
  }

  a,
  path {
    transition: all 0.15s linear;
  }

  ul.primary-menu {
    display: flex;
    // font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.0277em;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -0.7rem 0 0 0;
    // gap: var(calc(--padding/2));
  }

  .primary-menu .icon {
    display: block;
    height: 0.7rem;
    position: absolute;
    pointer-events: none;
    transform: rotate(-45deg) scale(0.7);
    width: 1.3rem;
  }

  .primary-menu .icon::before,
  .primary-menu .icon::after {
    content: '';
    display: block;
    background-color: currentColor;
    position: absolute;
    bottom: calc(50% - 0.1rem);
    left: 0;
  }

  .primary-menu .icon::before {
    height: 0.9rem;
    width: 0.2rem;
  }

  .primary-menu .icon::after {
    height: 0.2rem;
    width: 0.9rem;
  }

  /* top menu entry */
  .primary-menu li {
    font-size: inherit;
    line-height: 1.25;
    position: relative;
  }

  .primary-menu > li {
    margin: 0.8rem 0 0 1.6rem;
  }

  .primary-menu > li.menu-item-has-children > a {
    padding-right: 1rem;
  }

  .primary-menu > li > .icon {
    right: -0.5rem;
    top: calc(50% - 0.4rem);
  }

  .primary-menu a {
    color: inherit;
    display: block;
    line-height: 1.2;
    text-decoration: none;
    word-break: normal;
    word-wrap: normal;
  }

  .primary-menu a:hover,
  .primary-menu a:focus,
  .primary-menu .current_page_ancestor {
    text-decoration: underline;
  }

  .primary-menu li.current-menu-item > a,
  .primary-menu li.current-menu-item > .link-icon-wrapper > a {
    text-decoration: underline;
  }

  .primary-menu li.current-menu-item > a:hover,
  .primary-menu li.current-menu-item > .link-icon-wrapper > a:hover,
  .primary-menu li.current-menu-item > a:focus,
  .primary-menu li.current-menu-item > .link-icon-wrapper > a:focus {
    text-decoration: none;
  }

  /* SUB MENU */

  .primary-menu ul {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    // var(--shadow);
    border-radius: 0.4rem;
    color: #000;
    // font-size: 1.1rem;
    font-weight: 400;
    opacity: 0;
    padding: 0 0;
    position: absolute;
    right: 9999rem;
    top: calc(100% + 2rem);
    transition:
      opacity 0.15s linear,
      transform 0.15s linear,
      right 0s 0.15s;
    transform: translateY(0.3rem) translateX(2.3rem);
    width: 20rem;
    z-index: 100;
  }

  .sub-menu {
    z-index: 999;
  }

  .primary-menu li.menu-item-has-children:hover > ul,
  .primary-menu li.menu-item-has-children:focus > ul,
  .primary-menu li.menu-item-has-children.focus > ul {
    right: 0;
    opacity: 1;
    // transform: translateX(3rem);
    transition: opacity 0.15s linear;
    //transform 0.15s linear;
  }

  .primary-menu ul::before,
  .primary-menu ul::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
  }

  .primary-menu ul::before {
    height: 2rem;
    left: 0;
    right: 0;
  }

  .primary-menu ul::after {
    border: 0.8rem solid transparent;
    border-bottom-color: #fff;
    right: 1.8rem;
  }

  .primary-menu ul a {
    background: transparent;
    border: none;
    color: inherit;
    display: block;
    padding: 0.9rem 1.4rem;
    transition: background-color 0.15s linear;
    width: 100%;
  }

  .primary-menu ul li.menu-item-has-children > a {
    padding-right: 4.5rem;
  }

  .primary-menu ul li.menu-item-has-children .icon {
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.5rem);
  }

  .primary-menu ul ul {
    top: -1rem;
  }

  .primary-menu ul li.menu-item-has-children:hover > ul,
  .primary-menu ul li.menu-item-has-children:focus > ul,
  .primary-menu ul li.menu-item-has-children.focus > ul {
    right: calc(100% + 2rem);
  }

  .primary-menu ul ul::before {
    bottom: 0;
    height: auto;
    left: auto;
    right: -2rem;
    top: 0;
    width: 2rem;
  }

  .primary-menu ul ul::after {
    border-bottom-color: transparent;

    /*rtl:ignore*/
    border-left-color: #000;
    bottom: auto;
    right: -1.6rem;
    top: 2rem;
  }
  .primary-menu ul ul {
    top: -1rem;
  }

  .primary-menu ul li.menu-item-has-children:hover > ul,
  .primary-menu ul li.menu-item-has-children:focus > ul,
  .primary-menu ul li.menu-item-has-children.focus > ul {
    right: calc(100% + 2rem);
  }

  .primary-menu ul ul::before {
    bottom: 0;
    height: auto;
    left: auto;
    right: -2rem;
    top: 0;
    width: 2rem;
  }

  .primary-menu ul ul::after {
    border-bottom-color: transparent;

    /*rtl:ignore*/
    border-left-color: #000;
    bottom: auto;
    right: -1.6rem;
    top: 2rem;
  }

  .rtl .primary-menu ul ul::after {
    transform: rotate(180deg);
  }

  .rtl .primary-menu ul ul::after {
    transform: rotate(180deg);
  }

  @media (any-pointer: coarse) {
    .primary-menu > li.menu-item-has-children > a {
      padding-right: 0;
      margin-right: 2rem;
    }

    .primary-menu ul li.menu-item-has-children > a {
      margin-right: 4.5rem;
      padding-right: 0;
      width: unset;
    }
  }

  body.touch-enabled .primary-menu > li.menu-item-has-children > a {
    padding-right: 0;
    margin-right: 2rem;
  }

  body.touch-enabled .primary-menu ul li.menu-item-has-children > a {
    margin-right: 4.5rem;
    padding-right: 0;
    width: unset;
  }
</style>
