---
import { WARTUNGSTEXT } from 'astro:env/client';
const isHidden = WARTUNGSTEXT === undefined || WARTUNGSTEXT === '';
---

<div
  id="wartungstext"
  class:list={['wartungstext', { hidden: isHidden }]}
  style={isHidden ? 'display:none;' : ' '}
>
  Hinweis: {WARTUNGSTEXT}
</div>

<style>
  .wartungstext {
    text-color: black;
    background-color: lightcoral;
    padding: var(--padding);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    margin: var(--padding);
  }
  .hidden {
    visibility: hidden;
  }
</style>
